[2016-12-14 12:36] rkamudhan opened #1 "Changing the Mutlus delegate netconf, in order to not conflict with other CNI plugin netconf."
Taking the points from Ye Yin https://github.com/hustcat/sriov-cni/issues/6

[2017-01-11 09:25] rkamudhan opened #2 "Cleaning up the reserved IPAM, in case of plugin failure in Multus CNI."
If there's malformed configuration in the 'delegates' table in the Multus configuration file and at least one Flannel plugin instance is working correctly, Multus will keep creating interfaces and reserving consecutive IP addresses from the subnet range specified in the Flannel configuration. This will eventually lead to the preservation of entire range from specified subnet and will block the cre

[2017-02-02 16:15] plwhite commented on #2
This may be naive (I have not looked at the code, just from use of it in testing), but my understanding is that multus with two networks, A and B, would create an interface by calling CNI plugin A then B. On a failure of B, could multus not simply call A to delete the provisioned address?

Note that I'm seeing this issue too, but it's not blocking my testing in the short term.

[2017-02-02 19:18] rkamudhan commented on #2
Yes, you are correct, I will give the solution by next week for this.

[2017-02-21 16:06] dougbtv opened #3 "Is there any reference yaml file applying multus-cni for pod network?"
I'm able to compile multus-cni, and I'd like to run it for a test as a pod network in Kubernetes, but, I'm having trouble figuring out a specification for exactly how to implement it. I've noticed the multus-cni readme has an example config, but, not an example yaml file for applying the pod network, e.g. so I can run something like:

[code]

So I tried to create one using the example one from Fla

[2017-02-21 17:55] rkamudhan commented on #3
Thanks for reporting the concern on the example conf file. The "masterplugin" is the only argument belongs to the Mutlus cni plugin. The "if0","createmac" and "if0name" are the part of the [sriov ](https://github.com/Intel-Corp/sriov-cni) plugin to support data plane. It is not a part of the multus cni plugins. I have rewrite your net conf file here. Please report me, if you come across any issue.

[2017-02-21 19:02] dougbtv commented on #3
Thanks for the help Kuralamudhan! I appreciate it.

Alright, I feel like I'm getting a little closer.

So here's on a fresh install of k8s 1.5

If I only use the config as you have provided, when I `kubectl describe pod <POD-NAME>` I get an error which looks like: `open /run/flannel/subnet.env: no such file or directory; Skipping pod`.

So I create this multus config, then I also add add Flannel.

[2017-02-21 19:24] rkamudhan commented on #2
@plwhite please check the bug fix #4. In the case of failure in any one of the minion plugins, Multus CNI will clear all the network resources allocated by the previous plugins.

[2017-02-21 20:06] dougbtv commented on #3
Hold the presses, I think I got it to work. So, I used another config and I combined that with my based-on-flannel yaml, and I added that one... And I'm seeing multiple interfaces when I run `ip addr` :)

...Neat project with multus-cni! I stand impressed.

For the record: Here's the yaml I used...

[code]

And then I created from that, spun up a pod, and then with `ip addr` I can see multiple int

[2017-02-21 20:26] rkamudhan commented on #3
Kudos @dougbtv. Please post us here, if you face any issue with multus cni.

[2017-02-22 14:25] plwhite commented on #2
I won't pretend to have done a comprehensive test, but I have tested and it appears to fix the issue. My test case was just to have fouled up my SR-IOV installation so that no interfaces were available, which in the past would lead to flannel cycling blowing up and using all IPs in the flannel network in rapid succession. That error case no longer occurs.

Thanks for the quick turnaround on this o

[2017-02-22 14:27] rkamudhan commented on #2
Thanks @plwhite. I will close the issue

[2017-02-22 16:26] rkamudhan commented on #3
@dougbtv We created a pull request in cni community https://github.com/containernetworking/cni/pull/379 to add mutlus CNI as the 3rd party plugin. As a Multus CNI user welcome your feed back there.

[2017-02-22 16:27] rkamudhan commented on #2
@plwhite We created a pull request in cni community https://github.com/containernetworking/cni/pull/379 to add mutlus CNI as the 3rd party plugin. As a Multus CNI user welcome your feed back there.

[2017-02-22 16:29] #2 closed

[2017-02-22 16:29] #1 closed

[2017-02-22 18:30] dougbtv commented on #3
Thanks again Kuralamudhan,

I went ahead and left a +1 for you on the PR! I'd like to see it listed there too.

Additionally, I thought I'd share with you (and for others, too) this blog article I wrote about getting multus-cni up and running: http://dougbtv.com/nfvpe/2017/02/22/multus-cni/

[2017-04-07 07:32] eugene-chow commented on #3
Hey @dougbtv, thanks for the tutorial. Big thank you to the Intel team for making this possible. I have a related question.

Is there a way to selectively make a pod multi-homed? What I understand from your tutorial is that the config you shared will mount an interface on every pod.

Using the `hostNetwork` directive, I want a pod to bind to the host's network. On top of that, I want it to bind to

[2017-04-07 08:12] rkamudhan commented on #3
Hi @eugene-chow is that you

[2017-04-07 08:24] eugene-chow commented on #3
Hi @rkamudhan thanks for helping. Yes, you're right. Just 1 port needs the `hostNetwork` in addition to the pod network (ie. flannel).

[2017-04-07 08:35] rkamudhan commented on #3
Hi @eugene-chow, you can achieve this in pod yaml life itself. Just add hostnetwork in the pod yaml file.

'''
spec:
    hostNetwork: true
'''

[2017-04-07 09:22] eugene-chow commented on #3
I have done so but I also want to attach a flannel interface to the pod as well. That means this particular pod has 2 interfaces - hostNetwork and pod network. Isn't this what Multus tries to solve?

[2017-04-07 13:15] rkamudhan commented on #3
Create a pod yaml with and without HostNetwork:true, and follows the CNI configuration

[code]

[code]

please follow this [http://alesnosek.com/blog/2017/02/14/accessing-kubernetes-pods-from-outside-of-the-cluster/](http://alesnosek.com/blog/2017/02/14/accessing-kubernetes-pods-from-outside-of-the-cluster/) link for more information.

[2017-04-07 19:54] aaratn commented on #3
I am trying to experiment same as @eugene-chow however I am on core os and it is strict on filesystem modification. Is there a documentation I can follow to compile and setup multus cni on core os?

[2017-04-10 06:59] eugene-chow commented on #3
@rkamudhan Thanks for the tip! I'll give it a shot.

@aaratn You can install stuff on CoreOS using [this method](https://github.com/kubernetes/kubernetes/issues/19765#issuecomment-256296587). Here's the [official docs](https://coreos.com/os/docs/latest/install-debugging-tools.html). Using CoreOS's toolbox, you can install the binaries needed to perform compilation and then copy it to `/opt`.

[2017-04-10 13:53] aaratn commented on #3
@eugene-chow I figured that out, however I am using hyperkube. Now I am setting up injecting multus to hyperkube image !

[2017-04-11 12:39] aaratn commented on #3
I managed to get multus up and running !! However I created two pods 1. Wordpress 2. nginx.

**Goal**: to have wordpress-pod with single ip address and nginx with both ip addresses.

I tried to use `hostNetwork: true` on wordpress pod however it binded the pod to the host's network instead of assigning its own ip address.

Eg below

POD wordpress with `hostNetwork: true`

POD Spec:

[code]
Output

[2017-04-13 09:02] eugene-chow commented on #3
`ip addr` from `hostNetwork: true` has `ens192` that has a host IP and `cni0` which has a pod IP. Isn't that what you want?

`ip addr` from `hostNetwork: false` looks odd. It has `net0` which seems to have a node IP and `eth0` which has a pod IP.

Can you share what's 172.16.1.201/24 and 192.168.1.36/24 so that we can better understand the problem?

Fyi, I haven't yet tried this yet so I can't pro

[2017-04-13 09:07] aaratn commented on #3
Hi @eugene-chow !

- Thanks for reverting back on this, the cni0 is the physical interface on Host Machine with Host Machine's ip address. I need a virtual ip address on cni0 range with pod's own ip address.

- 172.16.1.201/24 is container's only network. 192.168.1.36/24 is the host's network.

[2017-04-16 08:36] rkamudhan commented on #3
@aaratn  can you share the cni.conf file ?

[2017-04-16 08:40] aaratn commented on #3
@rkamudhan

Here's my cni.conf file

`{
  "name": "multus-demo",
  "type": "multus",
  "delegates": [
    {
      "type": "macvlan",
      "master": "ens192",
      "mode": "bridge",
      "ipam": {
        "type": "host-local",
        "subnet": "172.16.1.0/24",
        "rangeStart": "172.16.1.200",
        "rangeEnd": "172.16.1.216",
        "routes": [
          { "dst": "0.0.0.0/0" }
        ]

[2017-05-05 09:06] YYGCui opened #7 "Is there a way to communicate across kubernetes nodes?"
I use flannel to communicate across kubernetes nodes. pods can communicate via the default interface eth0.

If I add more one, the cni configure file looks as follows:
---master---
[code]
---minion---
[code]

the pods in the same node can reachable, but across nodes unreachable because they are in different subnets.(use different subnets to avoid ip conflict)

I cannot find a way to make them reac

[2017-05-05 13:00] rkamudhan commented on #7
Why can't you use flannel Multiple Network use case ? It is more efficient than using ptp plugin.

[2017-05-05 13:34] YYGCui commented on #7
Actually, I'd like to use flannel Multiple network.
But I can't sure that if two flannel network can be used in a kubernetes cluster

[2017-05-05 13:51] YYGCui commented on #7
If I understand well, the conf should be like
[code]
Am I right?

[2017-05-05 15:08] rkamudhan commented on #7
Please follow the steps for the [Mutliple flannel Network](https://github.com/coreos/flannel/blob/4c057be1f97a38960436834f144b0bd824d7f76e/README.md). To my knowledge ipam is not allowed in flannel delegate, please correct me if I am wrong.  Flannel get the IPAM information from the  `/run/flannel/subnet.env`

[2017-05-10 08:26] rkamudhan commented on #7
@YYGCui - Is the Multiple Flannel Network, solved your issue ?

[2017-05-11 01:31] YYGCui commented on #7
Multiple Flannel Network is worked for me. Thanks!

the conf file
[code]

[2017-05-11 01:31] #7 closed

[2017-05-11 08:30] rkamudhan commented on #7
@YYGCui added your CNI config information in the Multus README.md file

[2017-06-13 18:06] sbezverk opened #9 "multus on 1.6.4 kubernetes failing"
Hello,

I am trying to use multus on  my all in one test bed, further plan is to add sriov support, but now I have only flannel. I had to deal with some rbac issues, now it is resolved. Still kube dns pod is not starting as it does not see networking running, I suspect kubelet does not see valid networking and does not untain the worker. Here is my config:
I used one of example from previous issue

[2017-06-14 02:54] dougbtv commented on #9
@sbezverk -- can you tell us what a `kubectl describe pod some-pod-name` looks like when you go to create something?

I'm trying to replicate in the meanwhile. I haven't yet tried with Kubernetes 1.6.x, but, I'm spinning up an environment to give it a go. Possibly also running into RBAC issues with Flannel, so I'm going to work through that -- multus in theory shouldn't need any RBAC since (last I

[2017-06-14 06:18] dougbtv commented on #9
Alright, I've got a working config for multus under 1.6.4 (assuming, all of 1.6)

https://gist.github.com/dougbtv/c29393ae39b08a9cdf5e582aada0e25e

I also found that after much mucking around to fix the RBAC I had wrong in my own reference configurations, that kube-dns pod was not properliy starting. However, I went ahead and found that pod with:

[code]

And then deleted it with:

[code]

It rest

[2017-06-14 13:20] sbezverk commented on #9
@dougbtv I had RBAC figured out as flannel was unable to contact subnet manager. now it seems kubelet does not untain the node for kube-dns to start.
`kubectl describe pod kube-dns-1080222536-ddzmf  -n kube-system
Name:           kube-dns-1080222536-ddzmf
Namespace:      kube-system
Node:           /
Labels:         k8s-app=kube-dns
                pod-template-hash=1080222536
Annotations:    kube

[2017-06-14 15:45] sbezverk commented on #9
Ok, with some extra tweaks I got going base config, thanks a lot @dougbtv  for your help. Now, on to SRIOV part :)

[2017-06-14 15:51] dougbtv commented on #9
No prob! Glad I could be of some help. Mind posting your final working
config and RBAC for posterity / reference in the future? Could be helpful
to others in the future.

Good luck with SR-IOV!

On Wed, Jun 14, 2017, 11:45 PM Serguei Bezverkhi <notifications@github.com>
wrote:

[2017-06-14 16:20] sbezverk opened #10 "Adding SRIOV plugin complains about ipam"
Hello,
When I add SRIOV to multus plugin, kube-dns pods does not start and complains about absence of IPAM module. In reality assigning ip address is not always required, curios if IPAM can be made optional. Appreciate if you could check the messages and config provided below.

[code]

[code]

[2017-06-14 16:30] sbezverk commented on #9
@dougbtv here is my final version of rbac rules and I also changed service account in yaml to be multus.
[code]

wrt sriov, I already see some issues and filed new issue, please check it out and comment if you have any suggestions.

[2017-06-14 17:14] sbezverk commented on #10
Ok got a bit of progress, now kube-dns container starts properly. What is interesting, it consumes ALL sriov I have defined, instead of using just virtual interface it needs. I am wondering if there is a way to tell POD which network interface(s) it can request. In this case I could tell kube-dns to use just default interface and my nfvi containers to use sriov interfaces. Any thoughts about it?

[2017-06-14 17:17] rkamudhan commented on #10
@sbezverk I can help you with SRIOV CNI part. Can you send me your NIC details and how you enabled the SRIOV VF ? Whether you build SRIOV binary file and placed it in ```/opt/cni/bin/``` folder ?

[2017-06-14 17:28] sbezverk commented on #10
I use Intel x540 and have 4 VFs configured for each physical port.  I put sriov binary in /opt/cni/bin.
[code]
kube-dns by some reason consumes ALL sriov
[code]
I want kube-dns does not to use SRIOV but my nfvi instances use number of sriov I specify.

[2017-06-15 05:28] rkamudhan commented on #10
@sbezverk I like to suggest you to wait for another one week for the next Multus code release on this. I am working on making the Multus as the thick plugin, so that you can select the network based on the TRP + annotation from the pod spec.  I also encourage you to join in the Intel Slack - ```https://intel-corp.herokuapp.com/```.

[2017-06-22 13:20] anandkolli opened #11 "Using Kubernetes version: v1.6.6 failing"
Hello,

I facing an issue with multus running on 1.6.6 kubernetes version.
Jun 22 17:07:24 wn1-virtual-machine kubelet[22909]: E0622 17:07:24.880168   22909 remote_runtime.go:109] StopPodSandbox "c9e530e16dfc884a9d555e2d4bf96c06a3895959ba748b65c0d7cb407da85e4f" from runtime service failed: rpc error: code = 2 desc = NetworkPlugin cni failed to teardown pod "kube-dns-692378583-pvrv9_kube-system" ne

[2017-06-23 12:35] rkamudhan commented on #11
Hi @anandkolli  can you see the solution provided in  #9

[2017-06-27 15:04] pmichali commented on #3
Using K8s 1.6.x and not having success. When I try to create a cluster using flannel, with the config @dougbtv Showed above, I got these messages in log:

Jun 23 15:27:06 kubeadm-1 journal: E0623 15:27:06.407366       1 daemoncontroller.go:233] kube-system/kube-multus-ds failed with : error storing status for daemon set &v1beta1.DaemonSet{TypeMeta:v1.TypeMeta{Kind:"", APIVersion:""}, ObjectMeta:v1

[2017-06-27 15:10] dougbtv commented on #3
@pmichali -- I didn't read your comment in depth, but, did you see my reference configs on https://github.com/Intel-Corp/multus-cni/issues/ (deal with kube 1.6 goodies)? It might help out.

[2017-06-28 12:41] pmichali commented on #3
@dougbtv Thanks for the link. I took your configs, changed the interface from eth0 to eth1 (as in a VM and want to use use eth1 for network), IPs from 192.168.122.x to 192.168.2.x to match the network used on eth1, and added "--iface=eth1" to the flanneld line.

After init cluster, I applied the flannel-rbac.yaml and then multus.yaml. Is that right?

This time, the Multus pods came up OK (2/2). Ho

[2017-06-28 13:12] dougbtv commented on #3
Those multus pods are, I think, badly labelled flannel pods from a find-and-replace that was too liberal when I created the reference config, just an FYI.

Sort of seems like maybe the DNS pod couldn't be removed, that is... with the line:

[code]

I'm unsure what to do as a next step. Maybe try backing out all of the CNI config, removing the pods, and starting from scratch again.

[2017-06-28 13:41] rkamudhan commented on #3
Hi @dougbtv @pmichali . We have to fix this issue thrown out by Multus. Multus will store the delegate data using infra ID and later use them for deleting.  Please clean up all the pod, and fix flannel plugin issue. Multus will work fine then.
[code]

[2017-06-30 11:33] pmichali commented on #3
@rkamudhan Can you elaborate on the "flannel plugin issue" an how that can be fixed? Is it a configuration issue, or some problem with the plugin.  Afraid I don't have enough of an understanding to know how to proceed here.

[2017-07-05 07:20] rkamudhan commented on #3
Hi @pmichali , the flanneld is not running in your set up. Please install flanneld in your node. It will create the `/run/flannel/subnet.env` , Flannel use this file to get the IPAM information.

[2017-08-03 10:14] lmdaly opened #14 "CPU-Manager-For-Kubernetes fails to launch when using kubeconfig multus"
I am trying to use CPU-Manager-For-Kubernetes with Mutlus Kubeconfig & TPR - however the annotations are not being propagated to pods created by CMK and Mutlus errors out dues to the lack of annotations. Below is the output of CMK cluster init & Mutlus. CMK works when running with Mutlus Delegates and if deployed manually with annotations in all pods.

CMK init-install-discover pods were not able

[2017-08-09 07:54] rkamudhan commented on #14
@lmdaly Thanks for finding the bug or missed feature in the Multus CNI for the Daemonset used in the CMK. I worked on this bug, will upstream the bug fix today.

[2017-08-11 13:33] rkamudhan commented on #11
@anandkolli Can I close this issue ?

[2017-08-11 13:35] rkamudhan commented on #10
@sbezverk : After our debug session, I think you could run SRIOV with Multus CNI. I will close this issue now. Thanks for providing more information regarding RBAC.

[2017-08-11 13:36] #10 closed

[2017-08-11 13:38] rkamudhan commented on #9
@dougbtv @sbezverk I will close this case now.. Hope Multus is working in your env.

[2017-08-11 13:38] #9 closed

[2017-08-11 16:42] rkamudhan commented on #14
Bug fix is merged, closing the case.

[2017-08-14 08:24] anandkolli commented on #11
Yes, Please close the issue.

Thanks,
Anand

On Aug 11, 2017 7:04 PM, "Kuralamudhan Ramakrishnan" <
notifications@github.com> wrote:

[2017-08-14 08:25] #11 closed

[2017-08-15 08:13] lmdaly opened #16 "Mutlus CDR Usage?"
CPU Manager for Kubernetes(CMK) is currently using TPR but is planning to transition to CDR in the near future, Is there plans for Mutlus to move from TPR(deprecated) to CDR in the future?

[2017-08-17 14:05] rkamudhan commented on #16
Multus is compatible to work with both CDR/TPR. Both CDR/TPR api self link is same.

Please follow the below procedure

- Create a Third party resource “crdnetwork.yaml” for the network object as shown below

[code]

- kubectl create command for the Custom Resource Definition

[code]

- kubectl get command to check the Network CRD creation

[code]

- Save the below following YAML to flannel-networ

[2017-09-03 09:01] paolovisintin opened #17 "multus cannot find delegate cni network in pod/deployment without annotations"
I'm configuring multus-cni in a this scenario type:
hosts: ubuntu 16.04 LTS
kubernetes version: 1.7
network: macvlan, weave
When i start a pod with annotations, everything is working fine
example :
[code]
but when i start a standard pod, this is not able to reach the "running" state and in logs i can see:
[code]

my cni conf is:
[code]

is there any incompatibility with kubernetes 1.7 or any misco

[2017-09-04 08:55] rkamudhan commented on #17
So you could create network interface using the network object with pod annotation (Using [usage-with-kubernetes-tpr-based-network-objects](https://github.com/Intel-Corp/multus-cni#usage-with-kubernetes-tpr-based-network-objects) ), and want to use `weave-net` as the default network, if the pod is not having annotation `networks` right ? We fixed this issue in the bug fix #14.  When you create pod

[2017-09-04 22:07] paolovisintin commented on #17
@rkamudhan exactly this is what I want.
this is the new pod created:
[code]
this is the error in the node:
[code]

and this is the `describe pod`
[code]

Many thanks!

[2017-09-06 09:02] #14 closed

[2017-09-07 22:44] paolovisintin commented on #17
Hello,

I think something went wrong on my previous build

this is what I've just done, for every node:

[code]

[2017-09-07 22:47] rkamudhan commented on #17
@paolovisintin No problem @lmdaly also faced the same bug but we fixed it in the latest commit.

[2017-09-07 23:02] paolovisintin commented on #17
I'm sorry, my previous close was wrong, I have been confused by a pod that created a the file `/etc/cni/10-weave.conf` and this became the default cni configfile so every new pod was using weave standard conf.

Deleting, in every node, `/etc/cni/10-weave.conf` the problem appears:

[code]

Pod config:
[code]
Any help is appreciated!

[2017-09-08 15:02] rkamudhan commented on #17
Please try the following conf file
[code]

[2017-09-08 15:13] paolovisintin commented on #17
Working, this is the right conf:
[code]

[2017-09-19 08:55] rkamudhan commented on #16
@lmdaly Updated the README.md file regarding the details

[2017-09-19 08:55] #16 closed

[2017-09-21 00:22] jlovejoy opened #18 "inbound license for contributions"
Am I correct to assume that the license for inbound contributions to this project is also Apache-2.0?
Thanks

[2017-09-26 12:00] rkamudhan commented on #18
Yes @jlovejoy . I will upload the contributions document.

[2017-09-26 12:55] rkamudhan commented on #18
Added the inbound contributions based on Apache2.0

[2017-09-26 12:55] #18 closed

[2017-09-26 17:50] jlovejoy commented on #18
thanks!

[2017-09-28 12:31] ahalim-intel opened #19 "Deletion in the kubeconfig is not working."
Interface deletion mechanism is working only in config file, it is not working in the kubeconfig configuration.

[2017-09-28 12:34] rkamudhan commented on #19
@ahalim-intel , Thanks for the raising the issue, I checked the code. It is a bug in the coding, I will correct it now..

[2017-10-04 10:37] ahalim-intel opened #20 "Deleting interface should be continued instead of returning after one failure"
Instead of returning the error encountered on deleting one  interface inside the loop can we concatenate the errors and continue with deletion of rest of the interfaces and return the error outside of the loop?
That way, if there was any error on deletion on any interface we are still catching it and able to return it at the end of the function.

[2017-10-04 10:38] rkamudhan commented on #20
+1 Agreed 👍

[2017-10-05 15:20] rkamudhan commented on #19
Bug fixed in the PR #21

[2017-10-05 15:20] #19 closed

[2017-10-10 15:18] nders20000 commented on #17
Hi, when I use the multus config file to configure a default network cni, I also need to add a "name": "default netname" to the delegate to get it accepted.  Maybe this is the version of the CNI I use? or Calico which is my default net.

[2017-10-10 21:00] paolovisintin commented on #17
Hi @nders20000 , I'm correcly using default delegate `weave` with no name,  have never used Calico, but I'll plan to test

[2017-10-15 12:26] DigiDaz opened #23 "DNS Problem"
Hi all,

I'm trying to access pods directly via the public IP, ie not nat or anything.

I can make this happen by making my multus config like so:

[code]

This works fine and I can reach the pod direct from external.

This gives me a routing table like so, in the pod:

[code]

I cannot get any dns as the resolv.conf shows:
[code]

And there is no route to 10.96.0.10 which is the DNS except throug

[2017-10-15 12:35] rkamudhan commented on #23
@DigiDaz I edited your issue with Mardown for understanding. Please have a look how to include the `"resolvConf": "/etc/resolv.conf"` in the https://github.com/containernetworking/plugins/tree/master/plugins/ipam/host-local. What is your `/run/flannel/subnet.env` ? Kubernetes will get only Flannel IP, which is the master plugin in this case.

[2017-10-15 12:58] DigiDaz commented on #23
@rkamudhan Thank you, my /run/flannel/subnet.env is:
[code]

I will look at the resolv.conf stuff but do I not need to access the dns at 10.96.0.10?

[2017-10-15 13:54] DigiDaz commented on #23
Setting th resolvConf option does not work for me, I thought my syntax may be wrong but I can echo it from the command line perfectly fine:

[code]

In a new container:

[code]

[code]

[2017-10-15 14:03] rkamudhan commented on #23
@DigiDaz

From Host-local documentation:

- `host-local IPAM allocates IPv4 and IPv6 addresses out of a specified address range. Optionally, it can include a DNS configuration from a resolv.conf file on the host.`
- `resolvConf (string, optional): Path to a resolv.conf on the host to parse and return as the DNS configuration`

Container must have the following data

[code]

Are you sure the applic

[2017-10-15 14:07] DigiDaz commented on #23
This is the container resolv.conf
[code]

[2017-10-15 14:12] rkamudhan commented on #23
@DigiDaz Is that all nodes in your cluster have same ` "resolvConf": "/etc/resolv.conf"` . Can you check the `/etc/resolv.conf` in the node, where the container is running. Can you display both your nodes and running containers `/etc/resolv.conf`

[2017-10-15 14:17] DigiDaz commented on #23
I only have two:

The master:
[code]
and the one the containers are being created on:
[code]

It baffles me because because I can do the echo '{ "name": "default", "ipam": {"type": "host-local","subnet": "137.74.152.128/26, etc, etc from the cli on the hosts and see what looks like the correct info.

Is there anyway this could be getting set as expected and then overridden at a later stage of the

[2017-10-15 14:31] DigiDaz commented on #23
[code]

[2017-10-15 15:02] rkamudhan commented on #23
Can you display `kubectl get svc --all-namespaces` and find your service with name `kube-dns`. I think you running kude-dns with cluster-IP `10.96.0.10`

[2017-10-15 15:04] DigiDaz commented on #23
Yes, that seems the case, is that not correct?
[code]

[2017-10-15 15:16] rkamudhan commented on #23
@DigiDaz  Please set the dnspolicy in the pod refer this webpage for more details https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/ to your deployment mode and requirement. But it is good to raise this issue in CNI community and clarifies the issue.

[2017-11-03 17:18] rkamudhan commented on #17
@paolovisintin I will work on this issue to skip the master plugin requirement for only one delegate option

[2017-11-05 22:24] paolovisintin commented on #17
@rkamudhan awesome!
At the same time we're working to define a particular namespace (defined in the node) to pick network profiles!
This is useful if you don't want to use DHCP in MacVlan (as seems it's not working) and you have distributed kubernetes nodes in different ip-range areas!

[2017-11-08 18:34] ahalim-intel opened #25 "Multus reading stored conf file improperly after the node reboot."
After the next reboot we get the error. There is no file in /var/lib/cni directory. The kubelet logs however tell something weird:
[code]

[2017-11-08 18:41] rkamudhan commented on #25
@ahalim-intel Thanks. I will take up the bug, It should be fixed by PR #8

[2017-11-09 00:59] John-Lin opened #26 "Multiple interfaces for specific Pod on kubernetes"
Hi folks,
 AFAIK, multus can give more than one network interface to one container/pod on kubernetes. But in my use case on kubernetes cluster. I only need to give specific pod multiple interfaces. My question is there a method to support the feature that can add specific pod multiple interfaces?

[2017-11-09 10:14] ahalim-intel commented on #26
@John-Lin let me get your use case right. So, you want to spin up some pods with multiple interfaces and some pod with a default interface with multus?

[2017-11-09 14:41] John-Lin commented on #26
@ahalim-intel exactly. My use case is give some pods multiple interfaces and some pods with default interface.

[2017-11-09 15:24] dougbtv commented on #26
I believe you can use the CRD functionality to achieve this, e.g. by
putting in the specs the pods that you want to have multiple interfaces.

On Thu, Nov 9, 2017, 9:41 AM Che-Wei Lin <notifications@github.com> wrote:

[2017-11-09 16:33] ahalim-intel commented on #26
@John-Lin This is already supported by multus, please refer to the https://github.com/Intel-Corp/multus-cni/blob/master/README.md
You can create multiple network objects for your cluster as @dougbtv pointed out. Then in your pod specs you specify how many interface and which network you want for that pod.

[2017-11-09 18:02] rkamudhan commented on #25
@ahalim-intel bug fix is merged

[2017-11-09 18:02] #25 closed

[2017-11-10 06:56] John-Lin commented on #26
@ahalim-intel @dougbtv  thanks for your quick reply. It works like a charm! I tried the CRD and Multus with my [ovs-cni ](https://github.com/John-Lin/ovs-cni) project that could add multiple interfaces on specific pod. Awesome!

[2017-11-13 20:51] #26 closed

[2017-11-14 13:32] davidjbrady opened #28 "Example CNI Config: Master plugin POD/Service Network, Second Plugin Internet Connectivity"
Is anyone able to provide an example cni configuration whereby a master plugin. e.g calico provides pod and service connectivity.

And a second plugin only provides NAT'd internet connectivity? This use case will allow eaiser monitoring of internet egress for chargeback purposes.

    {
      "name": "multus-networks",
      "type": "multus",
      "delegates": [
        {
          "cniVersion":

[2017-11-14 14:46] rkamudhan commented on #28
@davidjbrady You getting any error in running the above configuration? you can run any reference and 3rd party plugin with Multus. It supports all.

[2017-11-14 15:41] davidjbrady commented on #28
Thanks for responding @rkamudhan

I'm not receiving any errors with a config like the above example. What I am seeing however is the default route will always be on the masterplugin interface which makes sense.

But what if you want the second interface to be used for Internet Connectivity and the masterplugin interface to just be used for pod networking.

I suspect this is possible with Multus bu

[2017-11-14 15:48] rkamudhan commented on #28
@davidjbrady

Try it - eth0 must be the default gateway interface for your node, Please take care of routes for ipam by refering -  https://github.com/containernetworking/plugins/tree/master/plugins/ipam/host-local

[code]

[2017-11-14 20:25] davidjbrady commented on #28
Thank you for your help @rkamudhan

Unfortunately I wasn't able to get this config to work but I kept experimenting and found the ptp plugin to work when all Internet CIDR's are added to the plugins routes. For anyone who's interested please see the below working example.

    {
      "name": "multus-networks",
      "type": "multus",
      "delegates": [
        {
          "cniVersion":"0.1.0",

[2017-11-14 20:25] #28 closed

[2017-11-29 02:25] piglei opened #29 "Support chained CNI Plugins"
CNI v0.3.0 defined a way to call a list of plugins by defining multiple plugins in "plugins" field([details](https://github.com/containernetworking/cni/blob/spec-v0.3.0/SPEC.md#network-configuration-lists)).

But this feature is not supported in multus. If you try to use a CNI plugin(like "[portmap](https://github.com/containernetworking/plugins/tree/master/plugins/meta/portmap)") which is suppose

[2017-11-30 23:17] egernst opened #30 "PTP support when using CRD"
Steps:

1. Copy multus configration file to /etc/cni/net.d/:
[code]

2. Start a single node kubernetes cluster:
```sudo -E kubeadm init --pod-network-cidr 10.244.0.0/16```

3. Startup flannel, using .yamls from the upstream coreOS repo:
[code]

4. Taint master so we can schedule work on it and create a custom resource definition for networks:
[code]
Where crd-network yaml is:
[code]

5.  Create a

[2017-11-30 23:33] egernst commented on #30
Think I see the issue!

[2017-11-30 23:34] rkamudhan commented on #30
@egernst if you attending the Intel's [NFV features in Kubernetes](https://kccncna17.sched.com/event/1d6bfe496dfda944cabc701d4f8ca6c7) Kubecon session , we doing hands-on session with portable Virutal box, and we giving out Intel USB stick with container exp kit as collateral. The collateral has all ansible script to be deployed.

[2017-11-30 23:43] egernst commented on #30
Sorry, thought it was an issue with the ptp network yaml description, but looks like it should be okay from my perspective.  I'm curious if you have tried this out?  My goal is to be able to post some updated documentation / simple example configurations which can be curl'd for folks getting started with multus.

[2017-11-30 23:50] egernst commented on #30
@rkamudhan -- I wish I was heading down - won't make it.

If you have ansible available now on a gist, etc, that's fine -- please share!   I'd prefer a minimal number of steps and simple examples which are hw agnostic for getting up and running with multus.  I was able to get it up with bridge and SRIOV (details @ https://github.com/egernst/k8s-testing-scripts/tree/master/multus-sriov), but am now

[2017-12-01 00:03] rkamudhan commented on #30
Typo error man.

[code]

should be

[code]

Multus had error recovery mechanism using default network. Can you send me your conf file ? Whether it having default network? Some user wants this mechanism, for some, it is an issue.

[2017-12-01 00:17] egernst commented on #30
Yep -- that's why I ended up closing the book 30 minutes ago.  As soon as I typed it out I noticed the ].

Lame question -- where are the logs sent for this?  I'll push the files onto a Quickstart.gist later tonight -- may be a good addition to have on the multus-cni site.

[2017-12-01 00:23] rkamudhan commented on #29
@piglei Could you please give me the details of conf files you using in kubernetes cluster, we sort of achieving the cni chaining mechanism in Multus, I may help you to achieve it. Multus was developed before the cni chaining mechanism, I also believe in it has to evolve.

[2017-12-01 00:30] rkamudhan commented on #30
Please let me know the PR, I like to include your testing script repo link in the Multus README.md

[2017-12-01 04:40] Machi029 opened #31 "Cannot make my TPR Network objects to work."
**Environment:**
Kubernetes 1.7.3
**Issue**
I think I've configured my environment correctly... but cannot get TPR Network objects to work.
Here is the yaml file for deploying my pod.

[code]

If I deploy it, it only comes up only with one NIC which I want multiple nics.

[code]
**Steps I did for configuration**

1. installed golang 1.8 and build Multus and CNI Plugins(for macvlan adn host-local)

[2017-12-01 09:32] piglei commented on #29
@rkamudhan The [current default configuration file of flannel](https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel.yml) is using chained CNI plugins feature, you can check it out.

[code]

In this config, the last portmap CNI plugin was called as a chained plugin.

[2017-12-02 23:17] rkamudhan commented on #30
@egernst Is the network in the pod annotation fails in the creation, then the network from default is picked by Multus ?

[2017-12-02 23:27] egernst commented on #30
That was indeed the case. I ended up seeing it pull up my default from flannel. Thanks for the help!

[2017-12-02 23:27] #30 closed

[2017-12-05 06:32] egernst commented on #31
Just curious, why are you creating both a TPR type and a CRD type? Seems just CRD should suffice.

[2017-12-05 06:50] Machi029 commented on #31
Hi egenst,
I guess I do not understand CRD, TPR quite right...
Should I delete the CRD?

[2017-12-05 06:50] johnkjacob opened #35 "how to create multiple k8s services with endpoints pointing to different network interfaces"
I was able to create multiple interfaces (2 flannel overlay networks) with multus for a k8s pod, but the kube service is having endpoints pointing to the default gateway. I would like to have seperate k8s service for the 2 network interface. ie control service ->endpoints with flannel 1 ips:port, data service ->endpoints with flannel 2 ips:ports. Any idea how to achieve this?

[2017-12-05 16:44] egernst opened #36 "cmdAdd results provide results for last delegate"
As far as I can tell, the returned "result" field for cmdAdd is the result from the last delegate which was added.  I wonder if it'd make sense to embed the other results as well in this reply.  Callers who know to look for these fields would be able to observe the network details for each CNI plugin individually.  Callers who don't know to look for these fields, assuming golfing JSON unmarshaling

[2017-12-14 11:12] rkamudhan opened #37 "Multus calling Multus again for chaining mechanism"
Multus should honor the interface name net0, net1, .. netn. When Multus call itself in the CRD.

[2017-12-19 01:43] rc979 opened #38 "ipvlan config question - master and gateway parameters"
Hi @rkamudhan
On [this response from earlier this year ](https://github.com/Intel-Corp/multus-cni/issues/3#issuecomment-281423711) you showed a sample ipvlan configuration for Multus and it seems that you omitted the "master" parameter (which denotes the name of the host interface to enslave as per the IPVLAN CNI plugin), can you please explain why?
I also see that you specified a gateway but, acc

[2017-12-19 09:10] rkamudhan commented on #38
@rc979 Thanks for spotting the error. I changed it. I included the gateway by mistake

[2017-12-19 09:10] rkamudhan commented on #29
@piglei Working on #37 ..

[2017-12-19 09:11] rkamudhan commented on #36
Let have an internal discussion on this.

[2017-12-19 09:11] #36 closed

[2017-12-19 09:12] rkamudhan commented on #35
Will update on this.

[2017-12-19 09:12] #35 closed

[2017-12-19 09:15] rkamudhan commented on #31
@Machi029 Please see the https://github.com/Intel-Corp/multus-cni#crd-based-network-objects. Both TPR and CRD will have same selfLink : /apis/kubernetes.com/v1/namespaces/default/networks/

if you are using 1.7 or planning to use 1.8 kubernetes, you can use CRD itself. There is no need to change any thing in Multus. For Kubernetes user < 1.7 use TPR based network objects as follows.

TPR for user

[2017-12-19 09:15] #31 closed

[2017-12-20 10:36] jellonek opened #39 "Links in README.md"
Bond CNI link in main README.md points to rkamudhan's fork of sr-iov plugin instead of https://github.com/Intel-Corp/bond-cni

*edited* later part was based on wrong assumption that intel's fork of sr-iov is stale project

[2017-12-20 11:13] rkamudhan commented on #39
@jellonek Updated the readme file :sweat:. Thanks for spotting the error

[2017-12-21 05:19] RahulG115 opened #40 "multus sriov cni not working after system reboot"
using multus sriov cni as network annotation (use for creating multiple interface ) in pod yaml file but after system reboot it is not working and pod is in still completed state but the weave multus cni plugin is working in the same way....

root@ubuntu:/home/mavenir/rahul/files# kubectl get pods -o wide
NAME READY STATUS RESTARTS AGE IP NODE
multus10 1/1 Running 8 8d 10.32.0.5 ubuntu
multus8-jq6

[2017-12-21 09:39] rkamudhan commented on #40
@RahulG115 the issue is fixed, we will release the fixes in the couple of days

[2018-01-12 08:07] yuyangbj commented on #3
@dougbtv, my question is does the multus-cni only support flannel? Or every CNI plugin could be configured? Another question is in multus cni conf, you use macvlan/ipvlan, is it configured to other cni plugin?

[2018-01-12 12:50] dougbtv commented on #3
It will pass through to any other CNI plugin, that particular example is
just based on flannel.

On Fri, Jan 12, 2018, 3:07 AM yuyangbj <notifications@github.com> wrote:

[2018-01-23 21:21] kfox1111 opened #42 "crd permission fail"
I was trying to debug a pod with annotations to select network. It kept failing back to the default network. Turns out the multus user account didn't have rights to read the network crd info. Once fixed, it started working properly.

In this case though, when a user specified a desired network, it should not ever fail back to the default networrk but fail the pod as it will malfunction if the desi

[2018-02-07 05:19] Elegant996 commented on #42
Could you elaborate a bit more on what permissions you needed to change? Thanks!

[2018-02-13 08:57] snowmansora commented on #42
@kfox1111 Thank you for creating this issue and sharing your solution. I encountered this issue as well, and I spent hours figuring out why, but failed (I think there is no related error/warning log...)

@Elegant996
When I try to run on one of my kube nodes:
[code]
It returns:
[code]

My lazy-solution / quick-workaround is to run the following command for all my kube nodes:
[code]
I believe there

[2018-02-13 18:33] kfox1111 commented on #42
@Elegant996 I was in the same boat as @snowmansora when I tested things. Things were broken until I made the node an admin. (Totally the wrong thing to do) That is a separate issue. How to properly configure RBAC for Multus? But this issue is about the behavior where it just did the wrong thing when the permissions were not correct rather then erroring the pod setup.

[2018-02-13 21:37] dougbtv commented on #42
I believe that this might be a documentation issue? There's a possibility that the readme here might need to suggest how one might add the proper RBAC for Multus to access the API.

I'd be happy to contribute a section on this, however I'd definitely like some input on proper permissions for the correct endpoints instead of an over-arching and overly permissive RBAC.

Currently the solution I've b

[2018-02-14 10:21] nikolas-hermanns opened #43 "Multus not aligned to CNI spec v0.3.0"
When using calico with spec v0.3.0 (plugin chaining included) with multus I get the following error:

1235 pod_workers.go:186] Error syncing pod af00ed7b-0a97-11e8-bf2f-525400f0a9f1 ("simplesvc-54f8df5889-lhqwl_default(af00ed7b-0a97-11e8-bf2f-525400f0a9f1)"), skipping: failed to "CreatePodSandbox" for "simplesvc-54f8df5889-lhqwl_default(af00ed7b-0a97-11e8-bf2f-525400f0a9f1)" with CreatePodSandboxE

[2018-02-15 11:57] fsoppelsa opened #44 "Typo in getnetplugin error message"
Typo at https://github.com/Intel-Corp/multus-cni/blob/master/multus/multus.go#L342

Should be: "getnetplugin: failed to get CRD/TPR, refer Multus README.md for the usage guide: %v"

[2018-02-15 16:19] ahalim-intel commented on #43
@nikolas-hermanns The delegate object in your conf file is missing the required "type" parameters as shown in the error log. "type" refers to the cni plugin executable for that delegate. Please check the Multus README.md  for example configuration.

[2018-02-19 10:54] nikolas-hermanns commented on #43
@ahalim-intel Thanks for the answer. In the former spec of CNI that was the case. But now the type of the network went to plugins: [ { "type": calico
We want to make use of this plugin architecture of CNI, since through that more then one plugin can be defined for an interface.
Of course not following the new spec CNI we are able to run multus. But then our Multus and non-Multus deployment have di

[2018-02-19 11:04] One-ders opened #45 "Error checking when using kubeconfig is wrong"
The function getK8sNetwork returns an error. After commit 7066439e38ce3e442699b40c4bbe3485a2409fd7
it was changed so that the error checking is done on the type of the returned error, instead of the string value. In cmdAdd a check is done for the type '*NoK8sNetworkError', but the function returns NoK8sNetworkError (no star), so the statement will never be true. What will happend is that the else

[2018-02-19 13:53] ahalim-intel commented on #43
@nikolas-hermanns Not quite clear what you are saying there. Any parameters a CNI plugin accepts that should still be valid and acceptable when you are using that with Multus. Only requirements here for Multus is that plugin executable are given in "delegates": [] list. So, each objects in the delegates must have a "type": for multus to execute that binary along with other required and supported p

[2018-02-20 06:39] snowmansora commented on #42
I think a documentation update on a proper RBAC setup for Multus will certainly benefits others.

I also think a behaviour update as suggested by @kfox1111 also make sense.
To clarify, I specified a CRD annotation of what networks I want to use for Multus on my pod's definition, the pod created should match my definition, if not, it should fail. (It is like if I specified some memory limit for my

[2018-02-23 16:28] nders20000 commented on #42
Back to the original issue for this, If something goes wrong with the kubeconfig file, access to crd, annotation for networks that dont exists. Dont fallback to the default network, because it is not what the person wanted for the pod, I have created an issue #45 with a patch that fixes this.

[2018-02-28 16:14] sheetaljoshi opened #46 "networks annotations not working in version 1.8.0-00"
I am running kubeadm version 1.8.0-00. And default network is multus-flannel 10-multus-flannel.conf
[code]
I created CustomResourceDefinition as below
[code]
And my other network is local bridge
[code]

And when I tried to create multi-network-pod as below
[code]
I only see flannel network eth0 inside the pod and bridge network not being added. And I also notice that no bridges are created on host

[2018-02-28 16:47] derwin4o commented on #46
Hi @sheetaljoshi , please see issue #42  I had the same problem and crd permissions per node , solved the issue.
Regards!

[2018-03-01 19:06] sheetaljoshi commented on #46
So these are the steps I followed (my hostname is master and I have single node cluster for now)

[code]

[code]

My /etc/cni/net.d/10-multus.conf looks as below
[code]

And my crd definition
[code]

Cluster role definition
[code]

And I create clusterrolebidning as
[code]
flannel.yaml looks like below
[code]

adn macvlan conf looks like
[code]

And after I create above networks I restart my kubel

[2018-03-05 16:51] sheetaljoshi commented on #46
The plugin now works as expected! Thanks for the details.

[2018-03-05 16:51] #46 closed

[2018-03-19 11:22] nikolas-hermanns commented on #43
Hey, I revisited this and came to the conclusion that when I just add the keys to the config then it is working. Still strange since calicio wants to have the etcd_endpoints etc now inside the plugins dict. However is seems to work.

Thanks for your answers!

[2018-03-21 15:04] verizonold opened #47 "newbie question"
I am just getting started with a POC around Multus. I have created my vanilla Kubernetes cluster with one master and one worker. Should I apply flannel and multus YAML's as specified here and separately(https://github.com/Intel-Corp/multus-cni/issues/3) or is there one YAML that I can apply to see both flannel and multus created interfaces?

[2018-03-21 15:17] dougbtv commented on #47
If you're going to use Multus, and one of the network attachments you'd like to create is for Flannel -- then that example will probably work. There's also an updated [example in this jinja2 templates](https://github.com/redhat-nfvpe/kube-ansible/blob/master/roles/kube-template-cni/templates/multus.yaml.j2) (if you're not templating it, change out items in `{{ double curly braces }}` with somethin

[2018-03-21 15:19] #43 closed

[2018-03-22 09:27] #38 closed

[2018-03-22 09:28] rkamudhan commented on #39
Closing the issue.

[2018-03-22 09:28] #39 closed

[2018-03-22 09:29] rkamudhan commented on #40
I believe the issue is fixed. Please check it

[2018-03-22 09:30] rkamudhan commented on #44
Thanks for spotting the typo. We will fix it in the next release.

[2018-03-22 09:30] #44 closed

[2018-03-22 09:49] rkamudhan commented on #45
Hi Anders. I will check the issue and try to fix it with your patch.

[2018-03-22 18:29] One-ders commented on #45
Great!!!

[2018-04-04 09:19] RahulG115 commented on #40
okk i will check that

[2018-04-04 11:57] RahulG115 commented on #3
can we use pci passthrough using  multus  in pods ? if yes , what extra config we need to do?

[2018-04-07 11:50] dougbtv commented on #46
Missing the RBACs, checks the logs of the kubelet, and you'll probably see
multus complaining that it can find the CRDs (which it will refer to as
TRPs)

On Fri, Apr 6, 2018, 5:24 PM verizonold <notifications@github.com> wrote:

[2018-04-07 14:12] verizonold commented on #46
@dougbtv so I still have a problem with dns:
[centos@kubecrd-master multus-resources]$ kubectl get pods -n kube-system
NAME                                     READY     STATUS              RESTARTS   AGE
etcd-kubecrd-master                      1/1       Running             0          1h
kube-apiserver-kubecrd-master            1/1       Running             0          1h
kube-controller-manager-k

[2018-04-07 14:15] dougbtv commented on #46
Known issue if you're using my reference configs.

https://github.com/redhat-nfvpe/kube-ansible/issues/172

On Sat, Apr 7, 2018, 10:12 AM verizonold <notifications@github.com> wrote:

[2018-04-07 14:34] verizonold commented on #46
@dougbtv seems like the solution is to replace with ansible_nodename in roles/multus-crd/tasks/main.yml?

[2018-04-08 09:56] subrnath opened #48 "Issue with POD redeployment."
I am using this to have ipvlan based networking for the containers. There is a issue found if a Kubernetes POD is terminated and redeployed with the same network K8S object, networking doesn't seem to work fine. We are defined CRT to have network object where plugin type defined as ipvlan. Also in the arguments IPAM defines the subnet CIDR. start and end IP. I have tried following sequences but no

[2018-04-08 20:40] psaini79 opened #49 "Multus: error in invoke Delegate add - "flannel": open /run/flannel/subnet.env"
I am trying to configure 2 network card in a pod for testing purpose. I am using multus plugin and executed following steps:
1) Downloaded the Multus plugin and build it. Copied the file under /opt/cni/bin. I executed this step on both master as well as on worker node.
2) Following is the kubeadm version:
kubeadm version: &version.Info Major:"1", Minor:"9", GitVersion:"v1.9.1+2.1.5.el7"
3) I follo

[2018-04-08 21:11] psaini79 commented on #49
I also observed following things:

1) I can see only 1 multus container on master:
bash-4.2# kubectl get pods --all-namespaces | grep multus
kube-system   kube-multus-ds-9jzrp                    1/2       CrashLoopBackOff    6          10m

2) If I describe pod, I see following error:
Events:
  Type     Reason                 Age               From              Message
  ----     ------

[2018-04-09 00:26] rkamudhan commented on #49
@psaini79 Flannel daemon is not running in your node.. Please check the flannel daemonset deployment in @dougbtv multus.yaml file

[2018-04-09 00:28] rkamudhan commented on #49
@psaini79 @dougbtv I think somewhere ```command: [ "/bin/sh", "-c", "set -e -x; cp -f /etc/kube-flannel/cni-conf.json /etc/cni/net.d/10-multus.conf; while true; do sleep 3600; done" ]``` is failing in the flannel container.

[2018-04-09 17:13] dougbtv commented on #49
Thanks for highlighting me -- Kural's right on the money, it sure looks like you don't have a Flannel daemonset running there.

I have a reference Flannel daemonset that uses Multus+Flannel that I use often, it's a jinja2 template that I use as a set of ansible playbooks -- so you'll need to kind of manually parse it. Notably, anything that's `{{ in_double_curly_braces }}` is a variable and you'll

[2018-04-10 16:51] psaini79 commented on #49
Hello Everyone,

Thanks for providing input. I will check my env and will get back to you.

However, I would like to let you know that I am able to configure 2 network cards using following config file. I took this file from [YYGCui user](https://github.com/Intel-Corp/multus-cni/issues/7).:

{
    "name": "multus-demo-network",
    "type": "multus",
    "delegates": [
        {
                "ty

[2018-04-10 18:39] dougbtv commented on #49
I believe that looks like it's going to use flannel, which will require a daemonset being up, or, at least I assume, when you get back in touch can you post the process you used in whole, e.g. did you require both spinning up the yaml from my own reference with flannel+multus, and then configuring that? Or is that packed inside the yaml? Thanks

[2018-04-11 01:04] burnyd opened #50 "Macvlan and flannel issue."
Kub version 1.10
OS: Ubuntu 16.04.4 LTS

Hi, I am able to follow the readme on getting flannel to work just fine.  I however am trying to work with macvlan for certain pods that have more of a nfv type issue where they need to bridge to a physical interface.  My end goal would be able to select some pods that would run with bridged interfaces and some that would simply just use flannel interfaces.

[2018-04-11 21:16] psaini79 commented on #49
Hi,

I appreciate your help and using your new conf file, I am able to configure 2 network cards in the container using multus plug in.

Though I have few question and I am going test the same:

1) What will happen to my pod if there is any error in macvlan eth card? i.e. eth0 or flannel based IP? or both of them have issues?
2) Can I have 2 flannel based card running on 2 different physical netwo

[2018-04-12 05:59] psaini79 commented on #49
Hi,

Though I am able to see 2 network cards in container, I am unable to ping MACVLAN based Ip from other PODs or hosts.

If I check following on the worker node, I do not see any bridge allocated to MACVLAN:
bash-4.2# brctl show
bridge name     bridge id               STP enabled     interfaces
cni0            8000.0a580af40101       no              vethfc275506
docker0         8000.0242e2df3b04

[2018-04-13 07:19] subrnath opened #52 "Unique IP address across the cluster"
We are invoking IPVLAN plugin via multus-cni. Each POD is allocated an  unique IP address from the subnet start and end range ( as mentioned in IPAM args). But the uniqueness of the IP is in a host and not across the cluster. /var/lib/cni/networks/<network_id>/last_reserved_ip.0 maintains the last allocated ip for the subnet/network and it's maintained in each host.

It will be good, if multus-cni

[2018-04-13 07:39] subrnath opened #53 "Static IP address allocation per POD"
Currently multus-cni doesn't support. It will be good, if multus-cni supports it as some of the VNF requires it.

[2018-04-13 07:44] subrnath opened #54 "Re-using of IP address of terminated PODS"
There is an issue raised for the IPv6 - https://github.com/Intel-Corp/multus-cni/issues/48. This issue is with IPV4. if the POD is terminated, IP address of the terminated POD doesn't get re-allocated to a new POD, deployed with a different docker image than the terminated POD. If the new POD is deployed with the same Docker image, IP address of the terminated POD is re-allocated.

Workaround of t

[2018-04-19 00:13] dougbtv commented on #45
Also put the `.patch` into a gist here @ https://gist.github.com/dougbtv/c58c08c9498070c2cdb9fd10dbc801e4

[2018-04-19 00:24] #3 closed

[2018-04-19 00:32] s1061123 commented on #53
Hi @subrnath

In containernetworking/plugins of github (i.e. reference implementation of CNCF/CNI), there is 'static IPAM' plugin. So how about to use it?
https://github.com/containernetworking/plugins/tree/master/plugins/ipam/static

Could you please let me know it solves? Then I will close the issue.

[2018-04-19 06:28] subrnath commented on #53
Thanks.

We are using ipvlan. Here is the definition -

apiVersion: "kubernetes.com/v1"
kind: Network
metadata:
  name: Test
plugin: ipvlan
args: '[
                {
                "name": "Test",
                "type": "ipvlan",
                "master": "<parent interface name>",
                "ipam": {
                        "type": "host-local",
                        "subnet": "CIDR/pr

[2018-04-19 07:37] s1061123 commented on #53
'static' plugin will be packaged in next CNI plugin release. If you want to use it right now, you need to build the pluign.
Please see example configuration for static IPAM:
https://github.com/containernetworking/plugins/tree/master/plugins/ipam/static#example-configuration

You can use this IPAM with 'ipvlan'. Please change "ipam" section from 'host-local' to 'static'.

[2018-04-19 19:49] #47 closed

[2018-04-20 03:08] subrnath commented on #53
Ok. Thanks.

But i can see we need to create number of network object yaml files as same as the number of PODs.

 Currently we are anyway going with rangeStart and rangeEnd having the same IP address so that corresponding POD gets the same IP address.
"type": "host-local",
"subnet": "CIDR/prefix",
"rangeStart": "IP1",
"rangeEnd": "IP1"

Original feature request which i proposing is to have, single

[2018-04-20 03:38] s1061123 commented on #53
Not only multus-cni also other CNI does not support to launch network with some arguments in pod/network resource as far as I know.

[2018-04-20 03:38] rkamudhan opened #56 "Mismatch between the Self Link in apiserver - K8s plumbing working group documentation and the implementation"
[code]
Implementation: https://github.com/Intel-Corp/multus-cni/blob/122dbfb345ae4a13fd1d592723a0ba1603278dd9/multus/multus.go#L386

[2018-04-20 03:43] rkamudhan opened #57 "Mismatch between the network annotation in - K8s plumbing working group documentation and the implementation"
[code]
Implementation: https://github.com/Intel-Corp/multus-cni/blob/122dbfb345ae4a13fd1d592723a0ba1603278dd9/multus/multus.go#L278

[2018-04-20 09:53] rkamudhan commented on #57
@dougbtv @s1061123 : I think, we have to change the documentation for it.

[2018-04-20 14:55] verizonold commented on #47
@dougbtv I ran into a issue with adding a node after the cluster was created successfully the first time. To reproduce this, I added the new node to inventory file and reran the ansible playbook. However, I did not see the new node join the cluster. I will close this issue once I am able to successfully add a node to an existing cluster. Does that make sense?

[2018-04-20 15:56] dougbtv commented on #47
@verizonold -- I think that's relative only to kube-ansible repository. Not multus (also, feel free to open the issue there. that case isn't covered by kube-ansible / hasn't been a consideration, feel free to add the feature, and even better if you can make a proposal for changes necessary to support it)

[2018-04-20 16:10] dougbtv commented on #57
Yep, this is definitely a mistake here, I don't think the version string got attached. Here's the sample pod I was working from:

[code]

And that pod really needs to be...

[code]

I'll submit a fix for this one -- thanks for the eyes Kural! (I also left a [comment](https://docs.google.com/document/d/1Ny03h6IDVy_e_vmElOqR7UdTPAG_RNydhVE1Kx54kFQ/edit?disco=AAAAB3eqX6c) on the spec in response to y

[2018-04-20 16:12] rkamudhan commented on #57
Thanks @dougbtv

[2018-04-20 16:41] rkamudhan commented on #56
@s1061123 @dougbtv Creating a patch for it.

[2018-04-20 16:42] rkamudhan commented on #57
@s1061123 @dougbtv Creating a patch for it along with k8s-client package

[2018-04-20 19:58] dougbtv commented on #57
Kural, cool if you have it in the dev/nwpg-crd-changes-k8s-client-feature branch -- that's good, otherwise, I'd wait until that change is complete because it moves all that logic to a new file. I just previewed that branch, looks good, and thanks for kicking that off.

[2018-04-21 15:01] rkamudhan opened #59 "Phase 1 - Kubernetes Network Custom Resource Definition De-facto Standard Multus release"
Kubernetes Plumbing Working Group
Proposal - [Kubernetes Network Custom Resource Definition De-facto Standard](https://docs.google.com/document/d/1Ny03h6IDVy_e_vmElOqR7UdTPAG_RNydhVE1Kx54kFQ/edit)
Development branch - [dev/network-plumbing-working-group-crd-change](https://github.com/Intel-Corp/multus-cni/tree/dev/network-plumbing-working-group-crd-change)
List of of issue related to the new featu

[2018-04-21 15:10] rkamudhan commented on #57
#58 Fixed in the PR

[2018-04-21 15:10] #57 closed

[2018-04-21 15:10] rkamudhan commented on #56
#58 Fixed in the PR

[2018-04-21 15:10] #56 closed

[2018-04-23 05:43] s1061123 commented on #54
Hi @subrnath

Regarding above comment, you may use 'host-local' plugin for IP Address Management (IPAM) and the issue is related to 'host-local' plugin, not multus-cni.
https://github.com/containernetworking/plugins/tree/master/plugins/ipam/host-local

So I guess it might be wrong place to discuss about it.
Could you please double check about it?

[2018-04-23 05:45] s1061123 commented on #52
Hi @subrnath

Regarding above comment, you may use 'host-local' plugin for IP Address Management (IPAM) and the issue is related to 'host-local' plugin, not multus-cni.
https://github.com/containernetworking/plugins/tree/master/plugins/ipam/host-local

Multus-cni just invokes CNI plugin (including IPAM) as a meta plugin, so I guess it might be wrong place to discuss about it.
Could you please doub

[2018-04-23 09:37] rkamudhan opened #61 "Phase 1 - release with Config support"
check #59

[2018-04-23 09:38] rkamudhan opened #62 "Phase 1 release with plugin support"
check #59

[2018-04-23 09:38] rkamudhan opened #63 "Phase 1 release with CNI config file support"
check #59

[2018-04-23 09:39] rkamudhan commented on #61
@s1061123 @dougbtv Work in progress with K8sclient package

[2018-04-23 09:39] rkamudhan commented on #62
@s1061123 @dougbtv Work in progress with K8sclient package

[2018-04-23 20:12] subrnath commented on #52
Thanks. Yes, we are using host-local. So with what is the IPAM option to have cluster wise unique IP address? So as i understand, host-local ensures host wise unique IP address.

[2018-04-23 20:13] subrnath commented on #54
Thanks. yes, we are using host-local. I will raise the question on host-local.

[2018-04-23 20:49] dougbtv opened #65 "Multus setup questions given this configuration"
Reported by Alex on slack:

[code]

[2018-04-23 20:52] dougbtv commented on #65
I'll run through this and help Alex try to replicate it, I also would like to improve the docs that I do have / would like to contribute to the docs, so I'll use this as an opportunity to do so.

[2018-04-24 03:13] s1061123 commented on #54
@subrnath Thanks. I close this issue.

[2018-04-24 03:13] #54 closed

[2018-04-25 15:00] dougbtv commented on #65
Also re: above, Alex was experiencing this:

[code]

[2018-04-25 15:02] dougbtv commented on #65
Just thought of this -- do you have the RBACs for Flannel? I noticed that if I start up the flannel+multus daemonset, if I don't have the RBACs, then Flannel will crash loop.

Here's what mine look like...

[code]

[2018-04-26 13:01] s1061123 commented on #52
@subrnath just a reminder.

I will close it in someday next week.

[2018-04-26 19:38] dougbtv commented on #48
@subrnath -- since this is apparently an IPAM issue, is this directly related to #54 -- that is -- can we close out this issue as it's being handled elsewhere?

Thanks!

[2018-04-27 06:57] subrnath commented on #48
Probably Yes. we can track it over there. I am closing this thread.

[2018-04-27 06:57] #48 closed

[2018-04-27 07:19] #52 closed, assigned to s1061123

[2018-04-28 19:04] Elegant996 commented on #50
@burnyd Have you defined a default network? By the looks of things, I would guess that you have defined flannel as your default network and that neither CRD networks are actually working it only looks like the issue is macvlan. Thanks!

[2018-04-28 23:14] burnyd commented on #50
Thanks this issue can be closed.  I never updated.  I had to create a file name 08-multus-cni.conf and add the cni info in 08-multus-cni.conf.

{
  "name": "multus-demo",
  "type": "multus",
  "delegates": [
    {
      "type": "macvlan",
      "master": "ens160",
      "mode": "bridge",
      "ipam": {
        "type": "host-local",
        "subnet": "10.20.30.0/24",
        "rangeStart": "10.20.3

[2018-04-28 23:14] #50 closed

[2018-05-01 15:30] rkamudhan commented on #63
Features added for the v3.0 release

[2018-05-01 15:30] #63 closed

[2018-05-01 15:31] rkamudhan commented on #62
Features added for the v3.0 release

[2018-05-01 15:31] #62 closed

[2018-05-01 15:32] rkamudhan commented on #61
Features added for the v3.0 release

[2018-05-01 15:32] #61 closed

[2018-05-02 21:41] rkamudhan opened #70 "Old config details commited by mistake"
https://github.com/Intel-Corp/multus-cni/blob/696f863d93215a765219ddd7044e64405d735684/examples/flannel-conf.yml#L6-L12

[2018-05-02 21:48] rkamudhan commented on #70
https://github.com/Intel-Corp/multus-cni/blob/696f863d93215a765219ddd7044e64405d735684/examples/macvlan-conf.yml#L5-L21

[2018-05-09 12:42] #70 closed

[2018-05-09 12:55] rkamudhan opened #76 "Multus v2.0 semantic version"
Network Plumbing working group changes in Multus. The semantic versioning is the de facto standard for describing software version in the Go community. The v2.0 version is not compatible with the older version v1.0 and v1.1, and v1.2

Todo:
- [ ] Add version in built binary (embedded)
- [ ] Modify travisCI to put binary in release tab

[2018-05-09 12:57] rkamudhan commented on #76
Due date is 17th May 2018.

[2018-06-14 15:24] krsna1729 commented on #29
same with newer versions of calico

[code]

[2018-06-14 15:38] rkamudhan commented on #29
@krsna1729 I am working on the conflist files support on Multus v2.1. Will add the conflist file support in the code: https://github.com/intel/multus-cni/blob/dev/network-plumbing-working-group-crd-change/k8sclient/k8sclient.go#L154

[2018-06-28 11:00] rkamudhan opened #83 "Merging the Kubernetes Network Plumbing working group dev branch to Master"
In Todo list

[2018-07-03 02:45] s1061123 opened #84 "Migrate from glide to go modules"
In glide README ([https://github.com/Masterminds/glide#golang-dep](https://github.com/Masterminds/glide#golang-dep), Glide asks users to switch to [golang/dep](https://github.com/golang/dep).

So we should move to use golang/dep, not soon, but near future.

[2018-07-03 14:23] rkamudhan commented on #84
+1

[2018-07-03 14:26] rkamudhan opened #85 "Multus v2.1 release"
For the milestone [v2.1](https://github.com/intel/multus-cni/milestone/2)

[2018-07-03 14:29] #76 closed

[2018-07-03 14:30] rkamudhan commented on #59
Release with [Multus v2.0](https://github.com/intel/multus-cni/milestone/1)

[2018-07-03 14:30] #59 closed

[2018-07-04 22:56] rkamudhan opened #86 "Adding NPWG network status in Multus"
**From the NPWG spec document
Section 5: Network Attachment Status Annotation**
To ensure that the result of a network attachment is available via the Kubernetes API, the implementation may publish the result of the attachment operation to an annotation on the pod object that requested the attachment.

The annotation’s name shall be `kubernetes.v1.cni.cncf.io/network-status` and its value shall be

[2018-07-05 05:41] subrnath opened #88 "interface naming inside the OD"
Inside the POF, currently interfaces names are eth0, net0, net1 , net2 .... ( in this order). Some of the VNF expects the the interfaces to have a specific name like eth0, eth1, eth2 ...( in this order). Hence is it possible to allow the VNF to decide the interface name?

For example, we define a CRD of type "Network" and using ipvlan cni.
[code]
can we add a new argument like "interface" which wi

[2018-07-05 07:32] s1061123 commented on #88
Currently kubernetes networking plumbing working group is discussing the CRD format, including network interface name configuration.

Could you please take a look into the google doc, Section 4.1.2.1.5?
https://docs.google.com/document/d/1Ny03h6IDVy_e_vmElOqR7UdTPAG_RNydhVE1Kx54kFQ/edit

Once it finalize, we are going to implement.

[2018-07-05 09:01] rkamudhan commented on #88
@subrnath: Team is working on the reference implementation in the `dev` branch https://github.com/intel/multus-cni/tree/dev/network-plumbing-working-group-crd-change as @s1061123 point out.

This branch will be merged to master in 2 or 3 weeks. currently all the features are tested. The issue is tracked in #83

Please give a try in the workload with `interfaceRequest` in the network annotation, ht

[2018-07-06 05:43] subrnath commented on #88
Thanks. Yes. this is solving our issue. Current release from https://github.com/intel/multus-cni/releases can be seen as 2.0. What will be the next release?

[2018-07-06 05:43] #88 closed

[2018-07-06 05:53] s1061123 opened #89 "Adding logging for debugging."

[2018-07-06 13:34] rkamudhan commented on #85
As discussed releasing the Dan's refracted code as Multus v2.1

[2018-07-07 17:34] Mierdin opened #91 "Multiple weave networks supported?"
I am trying to get a multus configuration working with multiple weave networks. I've got multus working well, as I've tested with other delegate plugins and they seem to work. In fact, I also have things working with weave, as long as I attach a pod to a single weave network. When I try to attach a pod to multiple weave networks, I run into issues.

I create the necessary CRD, and then create two

[2018-07-08 00:38] Mierdin commented on #91
Should also mention that I only have multus configuration in the CNI directory:

[code]

[2018-07-08 23:03] Mierdin commented on #91
Looks like this is a Weave issue. The formation of veth pair names in Weave is mostly static - the only uniqueness comes from the container ID. So if you try to attach a second weave network to a container, the veth pair name will be identical, so anything other than the first one will fail.

Long-form explanation and PR to address this here: https://github.com/weaveworks/weave/pull/3343

I'll clo

[2018-07-08 23:03] #91 closed

[2018-07-09 11:48] rkamudhan commented on #91
@Mierdin : Team is working on the reference implementation in the `dev` branch [https://github.com/intel/multus-cni/tree/dev/network-plumbing-working-group-crd-change](https://github.com/intel/multus-cni/tree/dev/network-plumbing-working-group-crd-change)

This branch will be merged to master in 2 or 3 weeks. currently all the features are tested. The issue is tracked in #83

Please give a try in

[2018-07-09 15:03] rkamudhan opened #92 "Updating build script and adding release script for Multus"
Expectation to develop release script for different arch.

[2018-07-09 15:06] rkamudhan opened #93 "Including build version and CNI spec support, Network Object spec version in Multus binary"
Feature enhancement for the cloud admins to include version details in binary.

[2018-07-12 17:32] dougbtv commented on #65
Due to age and input on the subject, I'm closing this up.

[2018-07-12 17:32] #65 closed

[2018-07-12 18:04] rkamudhan commented on #85
Multus v2.1 is released..

[2018-07-12 18:04] #85 closed

[2018-07-24 05:50] Elegant996 opened #101 "failed to get network resource"
Hello,
Multus was recently built using the `network-plumbing-working-group-crd-change` branch and the [examples](https://github.com/intel/multus-cni/tree/dev/network-plumbing-working-group-crd-change/examples) were followed to create the `samplepod`. Unfortunately, the pod is not created and the below errors can be seen on the node using `journalctl` or `systemctl status kubelet`:

[code]

Multus

[2018-07-24 06:56] s1061123 commented on #101
@Elegant996 , thank you for your pointing! Let me take a look into it.

Could you please previous version (e.g. v2.0) for now if you want to use it?
https://github.com/intel/multus-cni/releases/tag/v2.0

[2018-07-24 06:58] s1061123 commented on #101
@Elegant996 For more detail, could you please let me know which network is used for default overlay network?

[2018-07-24 08:50] rkamudhan commented on #101
It looks like RBAC rules issue.. Are you using kubeadm or kubespray in your setup.

[2018-07-24 13:53] Elegant996 commented on #101
@s1061123 default overlay is flannel per [`multus-with-flannel.yml`](https://github.com/intel/multus-cni/blob/dev/network-plumbing-working-group-crd-change/examples/multus-with-flannel.yml) in the example.

@rkamudhan kubeadm was used to create the setup, but the `clusterrole` and `clusterrolebinding` were created for each node including the master.

[`clusterrole.yml`](https://github.com/intel/mu

[2018-07-25 12:56] rkamudhan commented on #29
@piglei @krsna1729 conflist will be supported in the Multus v2.2, a PR will be raised before EOW

[2018-07-26 13:23] dougbtv commented on #101
Awesome that solved the RBAC issue.

Some of the examples were in flux, so if you hadn't updated your branch in a couple days, it might've had a mis-match between the CRD and the example.

First up, try using [this latest example pod spec](https://github.com/intel/multus-cni/blob/2f96fa302a92c199fef27049e210131321e9de51/examples/sample-pod.yml)

If that doesn't work, can you please for me, show th

[2018-07-27 00:21] rkamudhan commented on #29
@piglei check the #103 PR

[2018-07-29 01:15] Elegant996 commented on #101
Was definitely the case for the `examples/sample-pod.yml`, I switched my head to `2f96fa302a92c199fef27049e210131321e9de51` as well and rebuilt; the interface is now created when using `macvlan`. Thanks!

[2018-07-29 01:15] #101 closed

[2018-07-29 19:42] ekoome opened #106 "Not working on GKE"
I have followed the README but i can not get the sample networks working on GKE.

1. Created the CRD and configs
2. built and copied the binaries on GKE node

3. created multus config file on the node.
[code]

BTW - What should be the contents of this file?  /etc/kubernetes/node-kubeconfig.yaml. It does not exist on my node. No details on the README.

4. added the right annotations onto the pod.
5

[2018-07-29 20:16] dougbtv commented on #106
Hey @ekoome -- that `"kubeconfig": "/etc/kubernetes/node-kubeconfig.yaml"` points to the Kubernetes configuration on each node, this will have the authentication for the `system:node` user.

If that's specified but, not available as a file -- Multus won't have a way to authenticate with the API, so it'll fail to pull up the CRD objects you have defined.

[2018-07-29 20:18] dougbtv commented on #42
I believe this will be fixed with #100

[2018-07-29 20:18] #42 closed

[2018-07-30 07:44] ekoome commented on #106
Thanks Doug.
Do you have an example node-kubeconfig file? Is this created automatically in a node and so it is a case of finding where it is in my node?

If so, where does gke keep its node Kube configs ?

For logging, what should I be looking for? Kubelet logs are verbose.

Lastly, the last step for restarting kubelet, do I need to pass KUBELET_OPTS for cni & cni dir or does kubelet have these en

[2018-07-30 10:15] rkamudhan commented on #106
@ekoome Can you check `~/.kube` folder in the GKE nodes ? I used the GKE lot back. That folder should have the kubeconfig data to communicate to the `master` from the `node`.

[2018-07-30 14:19] ekoome commented on #106
Tried kubeconfig at /var/lib/kube-proxy/kubeconfig but not working.

Checked kubelet logs and I cannot see any error messages related to multus.

My thoughts on this, what actually calls multus. Nothing in the setup links multus to kubelet or am I missing something.

[2018-07-30 17:49] ekoome commented on #106
Thanks rkamudhan.
I have created the credentials on the node the kubectl works. Referenced the credentials in multus.conf, but still unable to get it to work. On a separate note, why can't multus authenticate with the node service account which is already configured in the VM? Also not clear how multus gets invoked as it is not running as a daemon.

As a general question, if only interested in mac

[2018-07-30 18:40] rkamudhan commented on #106
@ekoome It should works, because the kubeconfig is the mechanism to make the authentication for out-of-cluster communication. I believe something is missing in your env.

In order to overcome it, my suggestion is to use [multus-daemonset.yml](https://github.com/intel/multus-cni/blob/master/images/multus-daemonset.yml) developed by @dougbtv . It is should be using in-cluster communication as develo

[2018-07-31 11:48] #86 closed

[2018-07-31 11:48] rkamudhan commented on #89
The feature added in Multus v3.0

[2018-07-31 11:48] #89 closed

[2018-07-31 13:55] rkamudhan commented on #106
@ekoome Any Luck ?

[2018-08-01 09:08] rkamudhan opened #115 "Should not do any operation for multiple DEL call from kubelet."
For more information, refer:

https://github.com/kubernetes/kubernetes/issues/43014#issuecomment-287164444

[2018-08-01 09:30] rkamudhan opened #116 "Multus failing in pod creation without network annotation"
try with pod spec:

[code]

[2018-08-01 12:42] SchSeba opened #117 "coredns fail with multus quickstart guide"
I am trying to use multus from the master branch and get the follow error after the yaml apply on the cluster.

kubernetes version: 1.11

[code]

[2018-08-01 13:05] rkamudhan commented on #117
related #116

[2018-08-01 13:26] rkamudhan commented on #117
@SchSeba I found the issue and fixed it.  Will raise the PR.. We failed to test one particular scenario.

[2018-08-01 13:53] SchSeba commented on #117
@rkamudhan Thanks, I will wait for the PR to be merged.

Also it could be nice to update the example folder.

[2018-08-01 13:54] rkamudhan commented on #117
@SchSeba yes yes.. Agreed

[2018-08-01 13:58] rkamudhan commented on #117
@SchSeba can you please test the  PR #118  and dev branch for your bug - [Multus runtime fix](https://github.com/intel/multus-cni/tree/dev/multus-runtime-error-bugfix)

[2018-08-01 14:42] SchSeba commented on #117
@rkamudhan sure I will try it and comment here.

[2018-08-01 16:07] dougbtv commented on #83
I believe this one is all clear! :+1:

[2018-08-01 16:07] #83 closed

[2018-08-01 16:54] rkamudhan opened #119 "Admission controller to do Network object validation according to Spec version 1.0"
- `kubectl create -f NetworrkObject.yaml` should validate and do the error handling
- Can add Mutation in Network Object for the further uses as well

Refer: [Kubernetes Network Custom Resource Definition De-facto Standard](https://docs.google.com/document/d/1Ny03h6IDVy_e_vmElOqR7UdTPAG_RNydhVE1Kx54kFQ/edit#heading=h.hylsbqoj5fxd)

[2018-08-01 17:07] rkamudhan commented on #119
@s1061123 @dougbtv @dcbw Require brainstorm on how this Admission controller should validate the Network object according to the spec.

[2018-08-01 17:08] rkamudhan commented on #117
Let me know, the issue is gone ..

[2018-08-01 17:08] rkamudhan commented on #116
Fix is merged

[2018-08-01 17:08] #116 closed

[2018-08-01 17:12] dougbtv commented on #117
+1, if you redeploy the daemonset, it should pull the latest image and have an updated Multus including the fix, thanks for reporting the issue @SchSeba !!

[2018-08-02 17:06] SchSeba commented on #117
@rkamudhan Looks good! thanks for the help.

[2018-08-03 17:01] dougbtv commented on #117
Awesome! Feel free to command / reopen if you run into anything, thanks!

[2018-08-03 17:01] #117 closed

[2018-08-07 01:34] Mierdin opened #122 "Panic setting up default network"
I was using multus before v3.0 and had the cni configuration working so that I could place pods on a default network for eth0, and if I omitted a network annotation on a pod, it would use this default network. Even if I added an annotation, it would use this default network for eth0, and the multus interfaces would start with the networks in the annotation.

However, since moving to v3.0, I am una

[2018-08-07 01:53] Mierdin commented on #122
I had a chance to look at the commit history since v3.0, and I noticed this fix: https://github.com/intel/multus-cni/commit/d71fe3447fff150e7341456b3c38b5fb5eec7d3c
I'm guessing `kc` was `nil` and that's what was causing the issue. I'll test and validate the current `master` doesn't contain this issue, and if I can get it working, I'll close this issue and use the next release when it comes out.

[2018-08-07 02:00] Mierdin commented on #122
Using the latest version of syringe does indeed fix the issue. Looking forward to v3.1! :smile:

Thanks for an awesome project!

[2018-08-07 02:00] #122 closed

[2018-08-07 08:27] rkamudhan commented on #122
@Mierdin Will update the v3.0 tag commit..

[2018-08-08 14:12] rkamudhan opened #123 "Code refactoring to use CNI libray ADD and DEL"
Remove the delegate package from the code.

[2018-08-10 14:00] matrohon commented on #29
@rkamudhan
I gave your patch a try, but with a conflist in the "delegates" part of the multus.conf:

[code]
I recompiled the multus binary, after having checkouted to the dev/net....crd-change thanks to @dougbtv container.

Starting a pod results in a crash of the multus binary.
Maybe I'm missing something?

[2018-08-13 13:32] mhristache opened #124 "Hairpin is not set in the delegate config"
I have noticed `hairpin` is missing in [the multus config](https://github.com/intel/multus-cni/blob/master/images/70-multus.conf) and I think that setting should be added by default when `flannel` is used as default delegate.

So, the config should look like this:

[code]

[2018-08-13 13:38] #124 closed

[2018-08-13 16:07] mhristache opened #126 "Cannot fully control the default route anylonger"
Hi

I have a setup where most of the containers are using only `eth0` and for those I add the default gateway automatically (so that kubernetes services work) by specifying `"isDefaultGateway": true` in the default delegate.

I also have some containers where I need multiple interfaces and I am trying to add the default gateway via another interface but that no longer seem possible with the latest

[2018-08-14 01:03] saravanakumar-periyasamy commented on #23
I am also having the same issue. Its not about DNS. Its the routing to the service ip cidr (10.96.0.0/12) is missing in the container.

[2018-08-14 05:44] rkamudhan commented on #23
Hi @saravanakumar-periyasamy, Can you display the route in your container with Multus and without Multus along with your CNI conf and Network object you used in pod spec. I want to make sure Multus is not giving any preference in the routing.

[2018-08-16 13:31] matrohon commented on #29
I think the port mapping feature doesn't work because the runtime config doesn't retrieve the port mapping config for the pod:
https://github.com/intel/multus-cni/blob/master/types/conf.go#L75

It does in the dockershim code:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/network/cni/cni.go#L354

[2018-08-16 14:57] rkamudhan commented on #29
@s1061123 @dcbw Could you please help me on this.. I think we discussed it during our last meeting. We planned to include the port mapping feature in further release ?

[2018-08-16 15:25] matrohon commented on #29
@rkamudhan I'll also try to give a hand, but I first need to better understand libcni and multus internals.

[2018-08-22 11:16] #40 closed

[2018-08-22 20:56] dougbtv opened #130 "gometalinter failures"
Ran `gometalinter` out of curiosity -- might be a number things to check from this (in particular, `vetshadow`)

https://github.com/alecthomas/gometalinter#quickstart

[code]

[2018-08-22 21:00] rkamudhan commented on #130
Quality control 😂😂

[2018-08-23 14:10] squeed opened #131 "Specify default network by name"
It would be nice to be able to specify the default network by name in the multus configuration file. This has a couple advantanges:

1. It allows for CNI configurations that are more dynamic
2. It works well with existing self-hosted plugins, e.g. Calico, that write their CNI configuration file via a daemonset
3. It also solves the readiness problem fixed in #98 in a slightly neater way.

It could

[2018-08-23 14:48] dougbtv commented on #131
Hey Casey, just trying to verify my understanding of this so...

Like today, we have the default network CNI configuration packed into say `/etc/cni/net.d/00-multus.conf` that looks like:

[code]

Instead, we'd have a way to otherwise specify the default network with something like...

[code]

And then it'd pull up say, Calico either via CRD object or file on disk?

[2018-08-23 15:45] squeed commented on #131
@dougbtv yeah, that was my idea - thanks for elaborating it!

[2018-08-23 15:53] rkamudhan commented on #131
@squeed Thanks for the thoughts on it. @dougbtv PR is help us to check a plugin readiness, it need not to be default network.

I see your idea is making sense to use the on-disk file as the default network. so delegate, gives a opportunity to attach multiple networks, with out any Network CRD objects itself. So I am thinking we can change the name `delegates` to `defaultnetworks` and make it to ac

[2018-08-23 18:26] dougbtv commented on #131
I really like this idea, and I'm all for it. I also have uses for making the default plugin more flexible, so, I'm all for it for sure. Thanks @squeed

[2018-08-23 18:48] wzrdtales opened #133 "Is there a way to integrate with kubeDNS?"
Is there a way to integrate with kubeDNS? Still trying to dig through the sources did not find any documents on how names actually get propagated to kubeDNS, so if someone here knows already would be pleased if you could tell me :)

Otherwise I will let you know as soon as I've found the point where it propagates...

[2018-08-23 19:30] rkamudhan commented on #133
You want to run kube-dns pod with Multus ?

[2018-08-24 09:58] wzrdtales commented on #133
Not running it with multus, but propagating the ips from a secondary interface to multus for discovery.

[2018-08-24 12:12] sbhojpur opened #134 "Multus do no add default network to the pods"
I am using Weave and MacVlan in my cluster. Weave is my default network and i have created a CRD newtork MacVlan. Now when i try to spin a pod with annotation  referring only MacVlan, my pod come up with only MacVlan.
I was hoping to see both Weave and macVlan in the pod.

multus config-----
{
  "name": "minion-cni-network",
  "type": "multus",
  "kubeconfig": "/etc/kubernetes/node-kubeconfig.yaml

[2018-08-24 12:41] rkamudhan commented on #133
Awesome!! We are currently working with stalkholder to define the implementation on this.

[2018-08-27 05:22] dimitar-i opened #136 "Multus with SRIOV doesn't set VLAN on VF"
I'm using Kubernetes with Multus CNI with flannel and sriov. I'm able to create pods with both flannel and sriov interfaces. Flannel is working fine and sriov is working fine if I don't use VLANs. If I use VLANs, the plugin doesn't set the VLAN on the VF and so there's no connectivity to the network. If create a new pod , identify the VF on the host and set the VLAN manually with ip link it starts

[2018-08-28 12:35] squeed commented on #131
cc @dcbw, who wanted to take a look.

[2018-08-28 16:29] rkamudhan commented on #133
Red Hat folks and myself were working on the Multi-netwok service impact almost a year back - https://docs.google.com/document/d/1Q2hJou2Jjoyng9tawt8IhoueHlvD8nrxAv7lQ9_6EEQ/edit#heading=h.izm7jgs60a9b . Getting you some document from the dust.. Please have a look at it.. it explain the way it could work. We later killed this proposal due to complexity on the Kubernetes Core components. But it wil

[2018-08-28 20:09] wzrdtales commented on #133
Is there any follow up plan on this yet? Or will this simply not happen? The serviceCIDR approach for the clusterIP is reasonable though.

[2018-08-29 07:35] soyuutaku opened #139 "add more description for whole multus.conf to clarify its requirements"
@s1061123 add:
This issue is to address that current README.md improvement so that reader don't misunderstand that minimum requirements for multus.conf, especially in [https://github.com/intel/multus-cni#configuring-multus-to-use-the-kubeconfig](https://github.com/intel/multus-cni#configuring-multus-to-use-the-kubeconfig)
------------------------------ Original description --------------------
I'm

[2018-08-29 13:38] s1061123 commented on #139
Right. multus itself does not provide any network interface to container.
Pod needs network interface at least one interface and that is the default delegate.

We also plan to set default network as network attachment definition in future, but it is not yet, so
could you please add default delegate into your config?

[2018-08-29 14:42] soyuutaku commented on #139
@s1061123, I got your point, that is: Currently we must set a default delegate, no matter pod have annotation of network or not.

What i am trying to do is use annotations to ensure every pod have one or more interface. Further more, I may need some pods have master network with flannel, and some other pods have master network with macvlan. Is that possible?

[2018-08-29 15:34] s1061123 commented on #139
@soyuutaku I am not clear that the difference between default delegate and master network in your comment. I feel master network and default delegate points same network and this master network is connected to kubernetes API network, too.

Currently multus provides to add one ore more 'extra networks' with one default delegates to the pod.
Kubernetes needs to access the pod and default delegates i

[2018-08-29 16:18] rkamudhan commented on #134
@sbhojpur: The annotation is not correct.. Can you check the readme file.. It is not `networks` in your pod spec

[2018-08-30 02:02] soyuutaku commented on #139
@s1061123.  My understanding is follow steps below, I can have two pods with only one network interface, and the interfaces are in different networks. Is that right?

1. let the config file as below, and than make sure every pod have annotations of network name by crd.

[code]

2. start up a pod as:
[code]

3. start up another pod as:
[code]

[2018-08-30 08:12] wzrdtales commented on #133
Ok cool, also discovered that there are actually two solutions right now aiming to do quite the same https://github.com/Huawei-PaaS/CNI-Genie, I hope that is not ending up in two different conversations about the same thing.

I think for the DNS probably going for etcd and coredns with the etcd plugin could be an easy solution, but a standard that is actually generally more aware of multiple netwo

[2018-08-30 13:11] s1061123 commented on #139
@soyuutaku Let me explain what the default delegate is.

Let's see following 'just-simple-pod' and imagine we run it in 'usual k8s, without multus'.

[code]

[2018-08-30 13:18] dougbtv opened #143 "Travis CI on forks"
Currently Travis CI will fail when you're working on a fork due to looking for the local packages on the `intel/...` namespace.

Is there a way we can make this dynamic so CI works on forks?

[2018-08-30 14:27] soyuutaku commented on #139
@s1061123 , I get your point. Kubernetes need pod have at least one interface so that kubernetes can manage it.

I wonder if kubernetes can manage pods on different network? Let say Pod A have flannel as default delegate, and Pod B have macvlan as default delegate.

If kubernetes need all pods have a unify interface to be default delegate, then [this section](https://github.com/intel/multus-cni#co

[2018-08-30 23:03] dimitar-i commented on #136
I tried without l2enable but same result - VLAN still not configured on the VF. The plugin properly maps the net2 pod interface to a VF on the PF that is specified in the definition and assigns MAC address to it but no VLAN.

[code]

On the worker node:

[code]

This is the new network attach definition:

[code]

Another observation that could be helpful to narrow it down is that the test script f

[2018-08-31 01:41] soyuutaku commented on #139
@s1061123   Sounds good. We need some more description for multus.conf.

[2018-08-31 04:08] sbhojpur commented on #134
@rkamudhan : I defined my CRD like below
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: 2018-08-30T19:20:57Z
  generation: 1
  name: networks.kubernetes.com
  resourceVersion: "6630"
  selfLink: /apis/apiextensions.k8s.io/v1beta1/customresourcedefinitions/networks.kubernetes.com
  uid: d24cca40-ac89-11e8-a4f5-d850e6d3cc29
spec:
  group: kuber

[2018-08-31 04:17] sbhojpur commented on #134
From readme file 'Configurations referenced in annotations are created in addition to the default network.'
Is this statement correct? somehow i am not able to validate it.

[2018-08-31 06:28] s1061123 commented on #139
I've changed the subject and add some small description in the top.
@rkamudhan , I suppose [the section](https://github.com/intel/multus-cni#configuring-multus-to-use-the-kubeconfig) is from old multus document (guess v1.0 or v1.1) and it may be deleted for now.
Could you please double check about it?

[2018-08-31 08:29] soyuutaku opened #144 "Concerns about MacVlan with ipam type host-local by CRD"
Let say we have a macvlan-conf.yaml:
[code]

Since we config the ipam type to `host-local`, and this config will effect all nodes in the cluster. Is that possible that pods have same IP allocated in different hosts(All host have interface eth0 connected to same vlan)? That is: POD A on Node A have IP 192.168.1.2, and POD B on Node B have same IP as 192.168.1.2.

[2018-08-31 14:13] rkamudhan commented on #126
please use the latest Multus v3.0 network object

[2018-08-31 14:17] rkamudhan commented on #134
can you share your Multus CNI conf file

[2018-08-31 14:18] rkamudhan commented on #136
We can check this in the SRIOV CNI plugin

[2018-08-31 14:27] s1061123 commented on #134
@sbhojpur we would like to have debug log. Could you please add "logFile" and "logLevel" in your multus config (of /etc/cni/net.d/) and reproduce it with latest or v3.1? Then we get /var/log/multus.log so please put somewhere (like pastebin).

/etc/cni/net.d/multus.conf
[code]

[2018-09-03 21:03] mhristache commented on #126
I am using latest Multus v3.0 network object. As explained in the description I am creating a network-attach-def like this:

[code]
But the default route in the network-attach-def does not override the default route added by the default plugin (flannel).

[2018-09-04 00:04] Elegant996 opened #145 "No external connectivity"
I recently added multus to one of my pods as per the below but have realised that I can only communicate externally (google.com, etc.) via the flannel plugin. This is confirmed when I use a `ping -I net2 google.com`. I am easily able to communicate with anything on `10.0.30.0/24` (`net0` also resides here) and vice-versa.

Is this intended? This may also be more of a CNI plugin question...

Snippe

[2018-09-04 08:31] rkamudhan commented on #126
Hi @mhristache , please make sure you use v3.1 it has all bug fixes from v3.0. Default network in your case flannel, so it will takes default route in the pod sandbox..  if you explain your use case, we can help you with the solution.

[2018-09-04 21:28] little-dude opened #146 "invalid cni config file"
Hi,

I'm making my first steps with multus, so this is probably a dumb mistake from me. Also, I'm not running multus as a daemonset.

I have the following cni config file:

[code]
My flannel network is defined as with the following yaml

[code]

Here is the description:

[code]

But in the kubelet logs I see:

[code]

[2018-09-04 21:41] dougbtv commented on #146
Hey @little-dude -- couple things to try...

1. Seeing it's not actually a list try changing the extension to `.conf` I didn't check the code, but, I think that's how it might differentiate in how it parses it.

2. The capabilities feature is not yet pulled in -- https://github.com/intel/multus-cni/pull/132 -- so that might cause you some grief too.

Any reason why you can't use the daemonset-styl

[2018-09-04 21:47] dougbtv commented on #145
What's the routing look like in the pod? It sure smells like something external -- if the interface is created, it's likely not Multus that's in play anymore, and it's something on the other end of the connection that's causing you some problems.

[2018-09-04 22:03] little-dude commented on #146
Hi @dougbtv,

Thank you for the fast answer!
You're right: the file must be a `.conf` instead of `.conflist`. It seems to work after that (I mean, at least my nodes are Ready, and the pods come up, I haven't checked in detail yet).

All right for the capabilities. I'll monitor https://github.com/intel/multus-cni/pull/132

No good reason I'm afraid. But when I started with kubernetes a few weeks ag

[2018-09-04 22:08] little-dude commented on #146
I'm going to close this since my initial problem is solved.

@dougbtv would you be interested in a little write-up about a non-daemonset setup, if things end up working correctly for me? Or is this something you intend to discourage?

[2018-09-04 22:08] #146 closed

[2018-09-04 22:47] Elegant996 commented on #145
Please see the below for the route in the pod. I've also included the `systemd` interface config for `net0` on the host/node if that helps. `net0` is also the only 'physical' NIC on the host. Thanks!

[code]
Interface config:

[code]

[2018-09-04 23:48] little-dude opened #147 "Dynamically creating overlays with multus"
Hi,

I'm trying to use multus to dynamically define topologies. What I call "topology" is a k8s manifest that defines `pods` and `net-attach-def` such that the pods have multiple links with each other.

I'm thinking of using flannel for this, since apparently I [can have multiple flannel networks](https://coreos.com/flannel/docs/latest/running.html#multiple-networks). This sounds similar to https:

[2018-09-06 00:15] dougbtv commented on #147
Hey Corentin, I need to think about this -- and I'm replying mobile, so
it's brief (sorry) but... I'm curious about your use case -- would you
attach these dynamically during run-time? That's something we are likely
going to consider for v4, I believe.

Join up the slack at some point, too. Worth discussing and documenting here
to capture the use case. Sounds interesting

On Tue, Sep 4, 2018, 7:48

[2018-09-06 13:45] flyinghawkren opened #149 "OpenShift-SDN failed when work as default multus cni plugin"
I use multus 3.1 and my multus conf is as follow:

[code]

And when I create a Pod without any network annotation, I got such errors:

[code]

Can you give me some tips? Thanks!

[2018-09-06 14:03] dougbtv commented on #149
Hi @flyinghawkren ! Cool, I'm excited that you want to use Multus CNI with OpenShift.

There's still only preliminary work done in terms of integration of Multus CNI into OpenShift -- but still work underway there.

Something I think you Might like to reference is this ansible playbook that's in my fork of OpenShift-Ansible -- https://github.com/dougbtv/openshift-ansible/tree/multus-developer-prev

[2018-09-06 15:48] s1061123 commented on #144
@soyuutaku did you check static IPAM plugin above?

[2018-09-06 19:31] little-dude commented on #147
Hi Doung!

We're building a networking product. To test it, we want to be able to create topologies where multiple  docker containers are connected to each other in various ways, and destroy these topologies after the tests finished.

That would be awesome !

[2018-09-06 22:53] Elegant996 commented on #145
The issue was with my initial `yaml` for multus as I forgot that flannel was included and was specified to be the default route. Thanks!

[2018-09-06 22:53] #145 closed

[2018-09-07 01:50] flyinghawkren commented on #149
Hi @dougbtv ! Thanks for your advice.

I am running OpenShift 3.9. And before I deploy multus daemonset, I run the following commands:
[code]
And I have manually removed the files in /etc/cni/net.d/. Maybe that cause the openshift sdn config go wrong.
My contents in `/etc/cni/net.d/` is:
[code]

I copy the original 80-openshift-network.conf into `/etc/cni/net.d`,  Multus still report same error.

[2018-09-07 02:08] soyuutaku commented on #144
@s1061123, Sorry for late reply.

I'm not familiar with static IPAM. So i didn't have a try. Will do some search about static IPAM, and see if it can meet my requirement.

And I'm afraid that I may need create a lot of networks with static IPAM so that every pod have different static IP. If so, it is unacceptable.

[2018-09-07 03:04] s1061123 commented on #144
@soyuutaku For now, we will plan to configure ip in Pod annotation, as 'section 4.1.2.1.3' of following CRD spec, in a few months.
https://docs.google.com/document/d/1Ny03h6IDVy_e_vmElOqR7UdTPAG_RNydhVE1Kx54kFQ/edit#

BTW, 'host-local' plugin is not multus, so you could file it in "github.com/containernetworking/plugins".

If you're okey, could you please close it?

[2018-09-07 03:53] flyinghawkren commented on #149
Another supplement: I have changed the OpenShift master config in `/etc/origin/master/master-config.yaml` and node config in `/etc/origin/node/node-config.yaml`. I change the `networkPluginName`
 from `redhat/openshift-ovs-subnet` to `cni`.

[2018-09-07 03:58] soyuutaku commented on #144
By using CRD spec, we cannot configure different IP range for different Node.

This limitation should be mentioned in the document.

Will close this issue anyway.

[2018-09-07 03:58] #144 closed

[2018-09-07 07:48] s1061123 commented on #144
@soyuutaku I suppose your expectation is over the specification of 'host-local' IPAM plugin because 'host-local' is just 'host-local', not 'cluster-local', hence it is not a limitation...

[2018-09-07 18:44] dougbtv commented on #149
It might be a little bit before I can make an attempt with OpenShift 3.9. Currently, I have only made some preliminary tests in OpenShift 3.10 -- the README in the link I sent over mentions some of the limitations.

Generally, what my approach has been is to:

1. Use openshift-ansible to bring up the entire cluster
2. Wait until pods are ready
3. Deploy Multus (I'd recommend the daemonset in the l

[2018-09-10 07:16] pliurh commented on #149
@flyinghawkren I've managed to run Multus on 3.9 without deleting the clusternetwork and hostsubnets. According to your log, it seems the openshift-sdn was not well installed. You can try to redeploy it and make sure openshift-sdn can function normally without Multus.

However I suggest you try Multus on 3.10 or 3.11, where you can deploy multus with Doug's playbook. On 3.9, the deployment of Mult

[2018-09-10 12:09] flyinghawkren commented on #149
@pliurh @dougbtv Thank you very much. I will redeploy cluster and try Multus on 3.10 or 3.11.

[2018-09-10 13:01] dougbtv commented on #149
@pliurh -- do you have any docs on how you accomplished it on 3.9?

[2018-09-11 16:09] Elegant996 commented on #126
There may be an issue with how routes are handled if the the default plugin were to change. In an instance where I wanted `eth0` and `net1` accessible simultaneously I was unable to access to one without giving up the other. This could make the pod inaccessible via `flannel` or other overlaying networks.

This can of be resolved by adding a new routing table to `/etc/iproute/rt_tables` but it does

[2018-09-12 08:59] mhristache commented on #126
@Elegant996 As I mentioned in the description, in the previous versions of Multus (the versions before v3.0) the plugin to be used for `eth0`  (the port on the default kubernetes network) was also supplied as annotation to every pod (see the example in the description).

That made it possible to use different settings for the default network on each pod so we could, e.g. have a pod with using `fla

[2018-09-12 17:32] Elegant996 commented on #126
@mhristache Understood, my point was directed towards a potential reason why it is no longer possible, I completely agree that there is a need.

To my knowledge, `multus` does provide the ability to create dedicated routing tables per interface. Although it would be cool if it did, it may fall to the `ipam` plugins to enable this functionality first(?).

It would also stand to reason that one coul

[2018-09-14 10:53] 000vicente commented on #149
Obrigado pelo comentáriod

[2018-09-15 01:59] Mierdin commented on #106
I looked into this, and managed to get multus installed and the configuration in place using the daemonset deployment instructions. However, GKE starts the kubelets with `kubenet` instead of CNI by default. The only supported configuration that uses CNI would be to use the NetworkPolicy and Calico integration. In **theory** you could do that, then manually reconfigure to use multus instead, but AF

[2018-09-21 13:13] pkdas opened #152 "delPlugins not cleaning up and causing resource leak"
A POD may have multiple networks
net1, net2, net3, net4...
If delPlugin for any of these nets fail, it skips calling delegateDel
For instance if delegateDel fails on net1, the net2..net4 are not deleted.
If net2..net4 are SRIOV VFs - these are never released and as a result SRIOV CNI runs out of VFs as PODs deleted and recreated.

And it can bring the whole Node down, because Multus keeps reportin

[2018-09-26 08:43] s1061123 opened #153 "Load default network from file, not in multus.conf"
In addition to #131, we may need to support loading default network from file.

[2018-09-26 09:37] dougbtv opened #154 "Break up the README to include a developer guide"
Include in that guide, the suggestion that you maintain your own fork and create PRs from that.

[2018-09-26 09:40] dougbtv commented on #147
@little-dude -- do you think you could expand on the use case here? We're not sure if it's necessarily proper for Multus to dynamically create more Flannels networks (and... I might be misunderstanding your issue again as I re-read a little later). Network attachment dynamically is definitely on our radar.

At any rate -- want to make sure we're addressing your concerns before we close out the iss

[2018-09-26 09:42] dougbtv opened #155 "Testable documentation"
Something that may be a nice improvement moving forward is making sure that our documentation is testable -- e.g. making it so that say, the quick-start guide is tested in CI, for example.

[2018-09-26 09:59] #115 closed

[2018-09-26 10:01] dougbtv commented on #106
@ekoome -- could you close this issue? Otherwise, can we restart the conversation here to see if we can address any concerns you might have? Thanks!

[2018-09-26 10:02] dougbtv commented on #49
@psaini79 -- do you have any further information on this one? If not, could you please close that out?

[2018-09-26 10:03] #37 closed

[2018-09-26 10:03] dougbtv commented on #45
Fixed in #60

[2018-09-26 10:03] #45 closed

[2018-09-26 10:05] dougbtv commented on #23
@DigiDaz -- could you please close this issue? If you still have concerns, feel free to re-start the conversation and we'll address them, thank you!

[2018-09-26 10:08] dougbtv commented on #17
I believe that this issue is deprecated by most recent changes in 3.0, if you have any concerns, feel free to open.

[2018-09-26 10:08] #17 closed

[2018-09-26 11:28] #23 closed

[2018-09-26 14:58] psaini79 commented on #49
I looked at it sometime back and found the issue was in my env. I found that macvlan bridge did not work on few VMs as some policies was enforced at ARP level which didn't allow me to pass packets outside the VM.

Since the issue in my env , I am closing it and will reopen if I test the some new machine. I will add my feedback.
Thanks @dougbtv  for your help.

[2018-09-26 14:58] #49 closed

[2018-09-27 08:08] dankohn opened #156 "SVG or AI version of the Multus logo"
I'd like to add Multus to CNCF's Interactive Landscape: https://landscape.cncf.io/grouping=landscape&landscape=cloud-native-network

I need an SVG, AI, or EPS version of your logo. You can upload it here (you need to zip it first) or email to dan at linuxfoundation.org. Thank you.

[2018-09-27 09:16] pliurh opened #157 "Specify cluster default network with a new CRD object."
In additional to #131 and #153 , I think it would be better to specify the cluster default network with a CRD object instead of config files. My idea is to create a new CRD object. It may looks like:

[code]

Multus can get the name of default network from this CRD object, then retrieve the CNI config from that networkAttachememntDefinition object.

There are some advantages I can think of:

1. Wh

[2018-09-27 10:45] ep4eg opened #158 "Feature Request: Support multiple networks for kubernetes default network (previous title: Primary pod IP)"
The summary is in https://github.com/intel/multus-cni/issues/158#issuecomment-426345674 (added by @s1061123 )

--------- original comment ------
I'm currently using kube-router's network as default and attaching additional interfaces as objects, is there any chance to select as a primary IP not the default one? Time to time I need to have attached interface as primary.

[2018-09-29 01:09] flyinghawkren commented on #149
I have tried in OpenShift 3.10 and everything is OK.
This issue can be closed. Thanks!

[2018-09-30 14:38] rkamudhan commented on #156
@dankohn Thanks a lot for reach out to us @dougbtv also mention it to be. I will send you the SVG file.

[2018-10-01 04:48] #29 closed

[2018-10-01 07:46] s1061123 commented on #158
@ep4eg I am not sure that 'select as a primary IP' and 'primary IP' itself. Could you please add some examples (network attachment yaml, pod yaml and some command outputs: 'ip -d a' if possible)?

[2018-10-01 13:28] ep4eg commented on #158
@s1061123 In other words, I got something like
[code]
As you can see k8s considers kube-router interface (which is default network), as default and "net1" interface attached as "NetworkAttachmentDefinition"

here's the manifest

[code]
  The question: Is there any way to tell k8s that macvlan interface is default? I wanna see an IP address of attached MACVLAN interface as a service endpoint.

  So

[2018-10-01 14:29] s1061123 commented on #158
@ep4eg So confirmation. In /etc/cni/net.d/foobar.conf (or your conf), you wrote kube-router CNI for delegate, correct?

Currently multus-cni always use 'the first item of delegate field' as default network (i.e. k8s uses it as pod address as well as k8s API traffic).
So how about to replace it (kube-router with macvlan)?

Multus team is also trying to introduce use CRD name in /etc/cni/net.d/fooba

[2018-10-01 16:18] ep4eg commented on #158
@s1061123 I don't really need macvlan interface in every single pod.

[2018-10-01 19:45] Elegant996 commented on #158
Experiencing the same issue. A use case is when you want to force the pod to communicate over a pre-existing VPN client sitting on your firewall (pfSense or similar).

The issue is that if `kube-router` is the default then any traffic on `net0` appears to be limited to its subnet as it has no proper routes.

`multus` should for the default to be overridden via the annotations section of the pod. P

[2018-10-02 08:06] s1061123 commented on #158
@ep4eg So in your case, you want to have multiple 'default k8s network' in case of pod at whole cluster, correct (i.e Pod1 uses macvlan to talk to k8s network but Pod2 uses vlan)?
It is not supported for now. Multus-cni expects one network for default network and it expects all pods uses one network.

So it seems to be feature request for multus. Can I change subject as feature request and add som

[2018-10-02 13:39] Elegant996 commented on #158
Feature request is fine but I wouldn't say we need multiple default networks. As per @ep4eg's original post, we have few instances where one of two pods in a cluster may require `macvlan` to be the default instead of `kube-router`. We're not looking to assign a `macvlan` interface to every pod.

In these cases, we seek to have all non-cluster-related communication to go out over `macvlan` as the d

[2018-10-02 14:13] s1061123 commented on #158
@Elegant996, I mean it from cluster point of view. Under cluster, some pod uses macvlan for default network and some of them uses another. Correct?

[2018-10-02 15:33] Elegant996 commented on #158
Yep. Thanks!

[2018-10-02 15:56] ep4eg commented on #158
@s1061123 correct.

Actually, there is one more question - Delegate to default network works fine, but once I use multiple interfaces configuration I get martian packets on both interfaces. That's definitely routing issue, so seems `multus` doesn't work out of the box.

[2018-10-02 16:38] s1061123 commented on #158
@ep4eg thanks! BTW, regarding the last stuff seems to be routing issue. From network point of view, multus-cni does not touch routing/addressing. Multus-cni just giving the interface to provide multi CNI based network invocation. Some (well actually almost I guess) cni plugin does not expect to work with other cni plugin simultaneously so it should be further discussion of somewhere else.
Multiple

[2018-10-02 16:43] s1061123 commented on #158
So summary:

- Add a feature to add multiple networks for kubernetes network (i.e. for api-server and Pod IP), and
- Allows user to specify which network is used for each pod

To solve the issue, we may discuss about multiple default network for kubernetes is still valid or not because currently kubernetes expects to connect to pods in one network.

[2018-10-03 00:14] rkamudhan commented on #156
[Multus logo.zip](https://github.com/intel/multus-cni/files/2440140/Multus.logo.zip)

@dankohn @dougbtv here is the Multus logo as zip, in SVG format

[2018-10-03 01:35] dankohn commented on #156
Thanks, but that's not a real SVG, it's a PNG encapsulated in an SVG. You can tell, because it's blurry.

Could you please ask the designer for the original AI or EPS file. If you can't find it, we can recreate the logo for you

[2018-10-03 15:58] kenji-fukasawa opened #159 "Reference configuration for multus + OVN/OVS"
Hello.  I recently started some testing with multus and OVS.  Here's what I have so far.  I have a kubernetes cluster up and running.  I have tested `ovn-kubernetes`  without multus (by running `ovnkube` with the `--net-controller` flag) and have successfully been able to add pods to the OVS network.  From there, I restarted `ovnkube` without the `--net-controller` flag to disable the OVN kubernet

[2018-10-03 20:42] #159 closed

[2018-10-04 15:07] networkop opened #161 "Multus with Contiv"
Hi, I was wondering, since you've mentioned Contiv as one of the CNI plugins you support, has anyone done any real work integrating the two? I'm struggling to understand how to pass network names to contiv through CNI configuration in NetworkAttachmentDefinition, since by default they try to read them from pod labels.

[2018-10-04 21:03] rkamudhan commented on #161
@networkop Could you please explain the details. FYI https://github.com/contiv/vpp/tree/master/cmd/contiv-cni

[2018-10-04 21:35] dankohn commented on #156
And here you go: https://landscape.cncf.io/grouping=landscape&landscape=cloud-native-network&selected=multus

Thanks everyone for your assistance.

[2018-10-04 21:35] #156 closed

[2018-10-04 21:55] networkop commented on #161
Hi @rkamudhan , sure.
I'm trying to get contiv working with multus. Specifically, I want to attach a pod to a specific network inside contiv. So [normally](http://contiv.github.io/documents/tutorials/networking-kubernetes-16.html), without multus, I do that by specifying labels inside pod's metadata, e.g. if i want to attach my pod to `contiv-net`:
[code]
What I want is to use multus to attach a p

[2018-10-08 11:30] s1061123 opened #164 "Cache CRD data at the CmdAdd() for graceful pod network deletion"
When CRD data is changed before CmdDel(), multus may call wrong CNI plugin (or arguments) at CmdDel(), hence it may be necessary.

[2018-10-11 08:53] s1061123 opened #166 "Add option '--is-default-ready' to check its readiness."
See https://github.com/intel/multus-cni/pull/98#issuecomment-428598120 for the detail.

-------
@dougbtv 's comments:
Idea: We run this as a startup option -- that is, this happens to look for a file (or CRD object) before Multus runs, so you say run multus as ./multus --is-default-ready /target/file.name or ./multus --is-default-ready my-crd-name and it reports back saying that it's ready or not.

[2018-10-11 13:57] rkamudhan commented on #152
I understood the issue, I will provide the fix for it

[2018-10-11 13:59] s1061123 commented on #164
Currently CRD is cahced, but json file should be cached

[2018-10-11 14:42] #143 closed

[2018-10-11 14:50] ahalim-intel commented on #164
All 'delegate' objects should be cached. This would eliminate the need of out-of-cluster communication  on CmdDel() as well and deletion would be faster.

[2018-10-12 16:01] Elegant996 commented on #158
This issue may need to extend upstream to the CNI plugins or perhaps CNI itself so that it supports routing tables.

Would it be preferable for `multus` to create the extra routing table or should the `ipam` plugin create it if it is specified? The parameter would take an integer but would default to `main` or 254 which is what it currently uses.

[2018-10-17 00:08] dougbtv opened #170 "Flannel & Multus daemonsets not starting under Kubernetes v1.12.x"
I think I have the fix, it's a modified [flannel-daemonset.yml](https://gist.github.com/dougbtv/170cc9d82b5d929a18888250b426e6c1)

Symptom: You'll apply our daemonsets, but, you won't see any pods created, like so:

[code]

Noticed that there's a difference between the [official flannel.yml](https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml) primarily:

[code]

[2018-10-19 09:16] flyinghawkren opened #173 "Multus bin&conf missing in OpenShift after compute node is rebooted"
Hi, @dougbtv. I have successfully deployed multus in OpenShift origin 3.10. And I have checked the bin&conf files (/opt/cni/bin/multus and /etc/cni/net.d/70-multus.conf) in compute nods and all is ok.
**But after I reboot any compute node, I found that the multus bin&conf files was missing.**

FYI: I deploy multus with the following command into a existing cluster:
`$ ansible-playbook -i inventory

[2018-10-19 14:16] dougbtv commented on #173
Hey @flyinghawkren -- I take it you are using my openshift-ansible fork to install it -- which branch are you using on my fork @ https://github.com/dougbtv/openshift-ansible ?

In theory -- the best branch to use should be the `multus-developer-preview` branch @ https://github.com/dougbtv/openshift-ansible/tree/multus-developer-preview/playbooks/openshift-multinetwork -- this has a daemonset-style

[2018-10-19 14:20] dougbtv commented on #173
Additionally -- one thing is that your original cluster install will need to have this patch -- https://github.com/openshift/openshift-ansible/pull/7825

Without that patch, there's a chance that the portions that manage OpenShift-SDN can clobber the binaries as they're managed by the Multus daemonset.

[2018-10-25 14:04] rkamudhan opened #175 "Chances to change the default route. Is this a use case ?"

[2018-10-25 14:22] dougbtv opened #176 "Update documentation to refer to supported CNI version"
Likely need to update docs to mention that we support version 0.3.0 and later.

[2018-10-25 18:37] #170 closed

[2018-10-26 05:01] Elegant996 commented on #158
@ep4eg I'm not sure if our situations are identical but I'll leave this work around for you. Take the case below where I added a `macvlan` with a a name of `net1` and static IP of `10.0.30.30`. You would then create an initContainer with NET_ADMIN rights and mount your `rt_tables` in order to add additional routing tables and routes.

[code]

`initContainer` snippet:

[code]

The next step is to e

[2018-10-26 07:52] s1061123 commented on #175
I've heard that some VPN case could be the one. (but now there is no CNI plugin for VPN yet, so it could be a future case)

I suppose IP routing can be one possible challenges in multi interface.

 In current CNI specification, user and CNI plugin can add IP route, but user cannot
delete/filter ip routes added by CNI plugins. In case of multus multiple interface,
non master plugin cannot change th

[2018-10-29 20:34] dougbtv commented on #154
High level goals

- [ ] Minimize intro content to 1-2 paragraphs
- [ ] Make the quick start guide content be right near the top
- [ ] Move extra content into new items in `./docs/` folder
- [ ] End with a link to further documentation
- [ ] Include a "developer guide" in that further documentation

[2018-10-30 15:32] mccv1r0 opened #177 "Fix logFile documentation in README"
The text in Logging Options refers to LogFile, which should be logFile to match json

[2018-10-30 18:53] mccv1r0 opened #179 "Chained meta plugin not found on Delete"
Adding interface(s) with chained plugins (e.g. tuning) work fine.  When Deleting, the chained plugin cannot be found:

[code]

It looks like logic was added to make this work for conflistAdd() by finding the plugin vis CNI_PATH:

https://github.com/intel/multus-cni/blame/bdf901c122f923d89fd88e15fb6dd79d8a98d4da/multus/multus.go#L126

Similar logic is missing for Delete.  Is there a reason?

When I

[2018-10-31 00:38] dougbtv commented on #179
Michael -- thanks a bunch for the report, it's likely that in the case you
added it and it worked, that it's missing logic. Replying mobile, sorry so
short. Mind making a pull request, with what you fixed? I'll take a look.

Also note to self that this is probably missing from the unit tests too if
this wasn't found earlier.

On Tue, Oct 30, 2018, 3:01 PM Michael C. Cambria <notifications@github.c

[2018-10-31 09:16] zmz opened #180 "IPRequest can not work"

[2018-10-31 09:20] zmz commented on #180
use macvlan cni, IPRequest can not work, but I know CNI  support static ip request ,  for example CNI_ARGS="IP=203.0.113.121"

[2018-10-31 09:42] s1061123 commented on #180
Thank you for your feedback.
Could you please let me know following information to make the issue clear?

- multus version (is that latest or you use older version than v3.1?)
- CNI config file (in /etc/cni/net.d/)
- NetworkAttachment info
- Pod yaml info (with annotation)

[2018-10-31 09:48] rkamudhan commented on #179
@mccv1r0 @dougbtv The error should not happen in this case, I will recheck it again. The code looks fine, I will recheck it again and let you guys know.

[2018-10-31 10:14] #177 closed

[2018-10-31 11:04] rkamudhan commented on #179
I reproduced the problem in my setup, I am not getting such error. Could you please redo the testing and confirm me the error statement.

[2018-10-31 15:32] mccv1r0 commented on #179
I updated my config to supply "binDir" and the problem went away.   conflistAdd() found the plugins because CNI_PATH was set to point to them.  CNI_PATH isn't looked at for conflistDel(), so the plugin wasn't found.

I'm curious why conflistAdd() looks at CNI_PATH.  Now that binDir is set in my .conf file things work in my sb when I remove

[code]
and put back the original code

[code]

[2018-10-31 18:01] rkamudhan commented on #179
@mccv1r0 can you show me your *.conf file ? how you adding the binDir in the conf file ?

[2018-10-31 18:17] mccv1r0 commented on #179
@rkamudhan I'm using cnitool; the multus plugin is a symlink to CNI_PATH dir so it can be found with the CNI supplied plugins.

[code]
Here is the *.conf file I'm currently using; multus-mccv1r0-network.conflist

[code]

Initially, this conflist file didn't have:

[code]

Thus only CNI_PATH was considered when looking for e.g. tuning plugin.

[2018-10-31 18:31] rkamudhan commented on #179
Agreed :astonished: . It could be a bug, if the bin are not in CNI_PATH provided by kubelet and all the binaries are in the binDIR, then it is a issue. We have to consider including it in del as well. Sorry I didn't checked with binDIR in my setup. I will check it again.

[2018-11-01 03:52] s1061123 commented on #180
Thank you for your info!

For now, Multus does not pass "IPRequest" to IPAM plugin of NetworkAttachment (i.e. 'k8s.../networks') and we already have a plan to implement it in near future.

[2018-11-01 13:20] dougbtv opened #181 "Tighten RBAC permissions"
Current permissions are [rather loose](https://github.com/intel/multus-cni/blob/master/images/multus-daemonset.yml#L24-L38).

Should update to only access portions that we need.

Sketch:

[code]

[2018-11-01 14:05] dcbw commented on #164
Yeah, Multus should cache the specific JSON sent to stdin for each sub-plugin/delegate.

[2018-11-01 14:15] dougbtv commented on #164
In the meanwhile, this should be documented as "you should add new CR's, not change the CR's"

[2018-11-01 15:07] gageorsburn commented on #164
This definitely should be cached. If a namespace is deleted the NAD CRD could get deleted before the pod which will cause Multus to error on unplugging the interface.

[2018-11-01 17:50] #179 closed

[2018-11-05 12:04] flyinghawkren commented on #173
Sorry for the late reply.Thank you very much!

I have test the new openshift-sdn daemonset, and files in /opt/cni/bin are OK now.
Thanks~ This issue can be closed.

[2018-11-05 12:04] #173 closed

[2018-11-05 12:05] #149 closed

[2018-11-06 00:08] gageorsburn commented on #164
Are there any plans for implementation on this? If nobody has picked it up yet I could give it a shot.

[2018-11-07 08:48] flyinghawkren opened #185 "Unique address for host-local ipam plugin & Multus when NPWG supported"
Hi, @s1061123. I noticed this issue refered as following link had been closed:
https://github.com/intel/multus-cni/issues/52

I think that's OK when multus not support NPWG. We can manually configure the conf with non-overlapped IP subnet range for every node in cluster. So we can finally get unique IP address for pods across the whole cluster.
But when multus support NPWG, the network-attachment-

[2018-11-07 09:36] flyinghawkren commented on #185
FYI, the code in `cniConfigFromNetworkResource` indicate that multus can only support one configuration method. And I have not found a open source global IPAM plugin that can work with ipvlan since ipvlan can't work with dhcp.

[2018-11-08 13:58] dougbtv opened #187 "Improved image tagging in Travis CI"
Considerations:

* Build a `:latest-master` with each pull request in master to provide a "tip of master" tagged Docker image
* Update the quick-start YAML to use a special tag (that's not `:latest`) to show that you're using the latest version tag, something like `:latest-stable` or `:latest-release`

Up for discussion:

* Should the `release-3` branch reflect a different tag for that branch?

[2018-11-08 14:00] dougbtv commented on #187
regarding the `release-3`, I think it would be confusing to maintain to have the yaml daemonsets vary between each branch. I think it should be assumed that the yaml daemonsets are specifically for the quick-start methodology. And that variants thereof should be in documentation (e.g. some `./docs/` information showing that "here's how you use the `release-x` branches and show information on how t

[2018-11-08 14:04] s1061123 commented on #187
I also checked flannel and flannel yaml file explicitly added container tag name in yaml file, e.g. v0.10.0-amd64 for master. (well, I imagined that they use 'latest'...)
https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel.yml#L106

[2018-11-08 15:51] dougbtv commented on #187
Thanks for finding an example to work from. Would like to get input here on which method people like here, and then we can move forward on how to tag / manage the yaml.

[2018-11-12 13:35] phoracek opened #189 "NetworkAttachmentDefinition client"
Hello Multus,

we use NetworkAttachmentDefinitions in multiple projects now, all of them are using the same mechanism to obtain definitions as multus does - raw client requests.

I created a Go client for NetworkAttachmentDefinition resources using Kubernetes' code-generator https://github.com/phoracek/network-attachment-definition-client.

Would you consider consuming it and more importantly, wou

[2018-11-12 13:43] rkamudhan commented on #189
@phoracek Awesome!! It won't be issue to hosting it in Multus-cni, I believe it will be ok for @dougbtv @s1061123 and @dcbw to host it here.

[2018-11-12 13:49] phoracek commented on #189
@rkamudhan sounds good, but the client is generated with certain client-go version as a dependency. Would not that be a problem? Let's say multus-cni hosts the client generated against 1.12, user wants to use it along exising 1.11 code, tries to build source codes, *random vendoring issue appears*.

[2018-11-12 14:02] dougbtv commented on #189
Very cool! Maybe we can host it as part of the new NPWG github org?

https://github.com/K8sNetworkPlumbingWG

[2018-11-12 14:05] phoracek commented on #189
@dougbtv that sounds like a good neutral ground to do that! How should I proceed?

[2018-11-12 14:07] dougbtv commented on #189
@dcbw -- could you invite @phoracek as a member to the K8sNetworkPlumbingWG org and we can have him create a new repo there?

[2018-11-12 14:37] s1061123 commented on #185
Hi,

This issue seems not to be related to multus-cni and seems to be related to IPAM(incl DHCP) and IPVLAN plugin issue because this issue will be happen without multus (and network-attachment-definition) as following:

- setup kubernetes cluster
- ipvlan as interface CNI
- host-local as IPAM CNI

Hence I suppose that the issue should go to [CNI community](https://github.com/containernetworking/p

[2018-11-12 14:37] #185 closed

[2018-11-12 23:22] #119 closed

[2018-11-13 09:44] flyinghawkren commented on #185
Hi,
When multus work in CRD config mode with NetworkAttachmentDefinition，the IPAM config become global configuration. Are there any global ipam CNI plugin to work with multus + ipvlan?
Thank you very much!

[2018-11-13 09:52] s1061123 commented on #185
How about to use CRD with files:
(pointing document is in PR and hope it will be merged soon)

https://github.com/s1061123/multus-cni/blob/dev/update-readme/doc/how-to-use.md#networkattachmentdefinition-with-cni-config-file

[2018-11-15 14:52] dcbw commented on #189
I added https://github.com/K8sNetworkPlumbingWG/network-attachment-definition-client and will take a PR to update it

[2018-11-15 20:05] phoracek commented on #189
Thanks a lot.

[2018-11-15 20:05] #189 closed

[2018-11-15 21:52] dougbtv opened #192 "Install reference CNI plugins as part of Multus daemonset-style installation"
**What would you like to be added**: Installation of reference CNI plugins via Multus daemonset style installation

**Why is this needed**: It'll make the quick-start guide easier to use as the reference plugins will already be available.

[2018-11-19 16:35] #187 closed

[2018-11-26 22:00] rcsavage opened #196 "Network annotations for Deployments not working"
Hello-

I am running Kubernetes v1.12.2 with the latest Multus version.   When I deploy a single POD using a simple POD deployment descriptor I am able to get my second interface (net1) to appear inside my container.   However, when I add the same network annotation to my "Deployment" descriptor, I am not able to bring up the second interface (net1).

kubectl edit pod/sample - working
[code]

Not

[2018-11-27 13:02] rcsavage commented on #196
This is the sample POD which is working

[code]

This is the Deployment descriptor which is NOT working

[code]

[2018-11-27 13:03] rcsavage commented on #196
Any clues?

[2018-11-27 13:51] rkamudhan commented on #196
Can you do `kubectl get <gwout-HASHVALUE> -o yaml` ? and also see where it is created with `kubectl get pod -o wide`, High chance that you not having multus in all the nodes..

[2018-11-27 14:15] rcsavage commented on #196
I do have multus on all of the nodes.  The POD descriptor I said which is working is the same host node I tried to use for the Deployment descriptor as well.

Actually, I think figured out the problem: it seems there's a special RBAC permission I need to enable so that Multus can read the POD information from the Deployment vs the POD and there's also a shift in namespaces from gateway to default.

[2018-11-28 13:12] rcsavage commented on #196
Yes, it turned out to be my RBAC (or lack of) configuration.   I am going to close this issue as it's a non issue.

[2018-11-28 13:12] #196 closed

[2018-11-28 13:12] rcsavage commented on #196
Closing not an issue.

[2018-11-28 15:30] rkamudhan opened #199 "Network attachment definition controller or net-attach-def controller"
**What would you like to be added**:
I like to add the network attachment definition controller or net-attach-def-controller to monitor the creation and update  or deletion of the net-attach-def object using [github.com/K8sNetworkPlumbingWG/network-attachment-definition-client/pkg](https://github.com/K8sNetworkPlumbingWG/network-attachment-definition-client/tree/master/pkg) package developed by @d

[2018-11-29 15:31] #154 closed

[2018-11-29 15:35] dougbtv opened #200 "Documentation: specify pod default network in Annotations"
The functionality created in PR #174 is advanced functionality and shouldn't be used unless it's used in specific use-cases, however, it shouldn't go undocumented.

Let's document it, however, let's make sure that it's outlined in documented, but, with a "warning, use with caution" sign and clearly specifies the use-case.

@pliurh if you could start some basic docs on this, I'd be happy to read an

[2018-11-30 07:11] #158 closed

[2018-11-30 07:37] s1061123 opened #202 "defaultNetwork should be skipped in "kube-system" Pod"
**What happend**:
"kube-system" Pod is trying to have defaultNetwork network attachment.

**What you expected to happen**:
"kube-system" should not have it because "kube-system" is system pod so it expects single interface at present.

**How to reproduce it (as minimally and precisely as possible)**:
Setup k8s with multus+defaultNetworks.

**Anything else we need to know?**:

**Environment**:

- M

[2018-12-08 17:21] micw commented on #192
One option could be to add coreos-flannel-cni as init-container to the daemonset and run line 5-8 of https://github.com/coreos/flannel-cni/blob/master/install-cni.sh

[2018-12-08 18:57] micw commented on #192
I have created a pull-request for this. With this change I can easily setup a while kubernetes cluster with multus+flannell without manual steps

[2018-12-08 20:10] micw commented on #192
I have created a PR to the reference CNI binaries to provide a Docker-Image that contains this binaries (https://github.com/containernetworking/plugins/issues/244) - if that's accepted we can switch to that image.

[2018-12-08 21:12] micw commented on #180
I'm also interested in this. Currently I workaround this by having multiple configs with "static" ipam type.

[2018-12-10 08:09] micw opened #208 "Portmap is not working with default installation"
**What happend**:
I have installed multus with the both daemonsets from images/*.yaml (master). I created a simple deployment (Nginx hello world) and added "hostPort:8888" to the container.
The port does not get exposed to the host. No firewall rule for this port is created at all.

**What you expected to happen**:
A NAT firewall rule that exposes the container's port to the host.

**How to reprod

[2018-12-12 10:36] ahalim-intel opened #211 "Error in setting networks status with delegate plugin that returns empty Result"
**What happend**:
The sriov cni plugin with DPDK mode has no IPAM config. Therefore returns empty Result. Multus throwing in error as it tries to build network status from this empty Result.

**What you expected to happen**:
Multus should skip delegate results with no IPConfig when aggregating delegate results.

**How to reproduce it (as minimally and precisely as possible)**:
Attache any network

[2018-12-15 16:37] TheDiveO opened #213 "Network interface names restricted to RFC 1123 DNS label syntax"
At this time, the multus Kubernetes client checks in [`parsePodNetworkObjectName()`](https://github.com/intel/multus-cni/blob/master/k8sclient/k8sclient.go#L181) the network **interface name** against DNS label syntax conformance. While in Kubernetes namespace and resource name identifiers are limited to DNS label cornformance, the names of network interfaces -- see: [network interface names on Li

[2018-12-15 22:32] micw commented on #208
I finally found a solution with the deamonset installation from images/*.yaml.
I build a new docker image that contains a build from latest master and the following configuration:
[code]

The multus-cni binary requires #132 to have this work.

The flannel-daemonset.yaml also contains a cni config with delegate - this is very missleading since that config is not used at all.

[2018-12-16 21:58] s1061123 opened #218 "Provide a way to add config in daemonset-install yaml"
**What would you like to be added**:
This comes from @micw.
Currently [images/flannel-daemonset.yml](https://github.com/intel/multus-cni/blob/master/images/flannel-daemonset.yml) uses [images/70-multus.conf](https://github.com/intel/multus-cni/blob/master/images/70-multus.conf) implicitly and no way to provide config in configmap.

**Why is this needed**:
Configmap configuration also provides a wa

[2018-12-16 22:22] micw opened #219 "Make the daemonset installation more flexible and user-friendly"
Dear multus-cni team,

currently the daemonset deployment method is very static. There's one docker image with a fixed cni config and two k8s daemonset yamls. The configs and yamls in examples/ are more or less unrelated.

I have the following suggestion that I'd like to discuss. The goal is to make the docker image more generic and provide single k8s-yamls fro different use cases. The steps I see

[2018-12-17 18:04] dougbtv commented on #208
@micw -- thanks for the detailed explanation and also for the PR! ...I think it's quite reasonable to add the portMap here while setting up the default network. I think it's a fair capability to have in here by default. I've been reviewing the PR and it looks good, I'll approve it and I'll bring it up for review during the next maintainers meeting, too.

Also -- regarding your note here:

I think

[2018-12-17 18:21] dougbtv commented on #219
Hey Michael -- huge number of points to talk about here. Thanks for digging into this stuff. Can we cover these in the next maintainers meeting? Number of considerations here.

First two (from my standpoint), that might set the stage and show some history as to why some things have been done as they have been up to this point...

Firstly: Quick-start example installation. When we first put togethe

[2018-12-17 18:40] dougbtv commented on #218
I have existing examples here, too: https://github.com/dougbtv/openshift-ansible/blob/multus-developer-preview/playbooks/openshift-multinetwork/files/multus-daemonset.yml#L135-L136

I like the idea of making this more flexible!! Thanks Tomo & Michael.

[2018-12-17 18:45] micw commented on #219
Hello @dougbtv,
thank you for the great feedback. My list became longer than I expected when starting this issue, probably an open discussion about this is a better way to go.

When and where does this take place? Would it make sense if I'd join for discussion?

This is a very good thing. It helped me a lot to get my 1st setup to work (except the missing portmapping part ^^).

With my approach we

[2018-12-17 18:49] micw commented on #218
This is great. Personally I prefer the ENV way over the args way because it makes it more easy to add one ore more (e.g. via helm chart)

[2018-12-17 19:00] dougbtv commented on #213
Thanks for the input @TheDiveO !

Two parts -- I believe this is only used when you specify the interface name directly. Otherwise, you'll get incremental names, e.g. `net0, net1, net2, ...netN`.

I believe this may have been in place due to earlier iterations of the [Network Plumbing Working Group's de-facto specification](https://github.com/K8sNetworkPlumbingWG/multi-net-spec/blob/master/%5Bv1%5

[2018-12-19 19:22] dougbtv opened #225 "Documentation: Consistent terminology for custom resources"
**What would you like to be added**: Our documentation has some confusion between the usage of "CRD", "custom resource" and "NetworkAttachmentDefinition", I would like this to be more consistent.

**Why is this needed**: The confusion is that there's the definition itself, the CRD, like:

[code]

and then the objects you create, like:

[code]

It was recommended to me to call the objects "custom r

[2018-12-19 20:24] TheDiveO commented on #213
If I didn't misunderstood section 3.3, then we're talking solely about the network attachment resources in Kubernetes, but not Linux kernel network interface names in this context. Of course, this will always hold, as it is set by Kubernetes' architecture, so it's DNS label syntax.

At this time I luckily don't have the need for more arcane Linux network interface names, especially not within cont

[2018-12-20 04:04] msdmso opened #226 "Can not connect to macvlan IP address from node"
Hello,

I built Kubernetes cluster (CentOS7 x 3, 2 NICs for default (eth0) and macvlan (eth1), kube_version: v1.13.0) using kubespray (kube_network_plugin_multus: true). And then I applied macvlan-conf.yaml and samplepod.yaml on the GitHub. Multus assigned second IP address to the pod but I cannot connect to the second IP address from node. Do I need some additional configuration?

# kubectl descr

[2018-12-20 15:28] dougbtv opened #227 "Calico examples for daemonset-style installation"
**What would you like to be added**: I talked to Vivek at Kubecon, and we got talking about Multus, and he's been using Calico in his lab environment for the default network. We noted that it'd be beneficial to have this available as an option.

**Why is this needed**: Having other default network examples outside of Flannel can give users other options when experimenting with Multus initially and

[2018-12-20 16:49] msdmso commented on #226
Thanks for your answer. I can connect to the macvlan IP address from the other node. (I forgot to set promiscuous mode on eth1.)

[2018-12-21 17:48] TheDiveO commented on #213
PR #228 :smile:

[2018-12-27 06:07] tcnieh opened #229 "NetworkPlugin cni failed to set up pod "samplepod_default" network"
Hello All,
I followed the quickstart guide [https://goo.gl/2EFoLN](url) and have been tried a very long time on creating a pod that attaches an additional network interface. The following shows a list of the current pods in all namespaces:

It seems fine that I got a cluster with one master and three work nodes.  When I try to create a samplepod as described in quickstart guide, I got failed messa

[2018-12-27 09:45] SchSeba commented on #229
@tcnieh This problem is in your `macvlan-conf` you vm doesn't have `eth0` the master configuration needs to point to an interface on your vm like `ens160`.

You can try to do something like this
[code]

please check the IPAM configuration to avoid collisions and also update the gateway with the right gateway on your network.

Last think is that you have 3 servers so IPAM `host-local` can be a prob

[2019-01-03 18:06] intlabs commented on #227
@dougbtv this would be really nice to have, I've been attempting to set up multus with calico for some time with limited success - so pointers in the right direction would be very appreciated.

[2019-01-07 14:44] mhristache commented on #126
This should be fixed or at least improved by https://github.com/intel/multus-cni/pull/174 but I didn't have time to test it yet.

[2019-01-07 16:19] #200 closed

[2019-01-08 18:00] dougbtv opened #232 "Allow entrypoint script to copy to directory inside container"
**What would you like to be added**: I'd like an option that allows me to copy the kubeconfig to a location that's not in the CNI configuration directory.

**Why is this needed**: Allowing the SA secret to be placed on the host's disk could allow unauthorized access to that secret.

[2019-01-08 20:14] dougbtv commented on #232
More-or-less note-to-self, but... Yeah, I'm approaching this from the wrong angle, since this runs on the host... it's gotta be exposed to the host.

[2019-01-08 20:14] #232 closed

[2019-01-09 11:24] tcnieh commented on #229
@SchSeba Thanks for your suggestion, I now can create a pod with extra network interface.
Here I have a furthermore question, that is, I could not reach this pod directly from external IP. Here is ```ip a``` and ```route -n``` in the pod:

[code]
It seems that 192.168.1.x and 10.244.1.x packets are sent via net1 and eth0, respectively. In pod, I try to ping another external IP 192.168.1.210 and ge

[2019-01-09 12:09] SchSeba commented on #229
@tcnieh
you connect yourself using the macvlan to the interface `ens160` that is in the subnet of `10.22.100.0/24` but your pod got `192.168.1.200` I am not sure if this can work.

[2019-01-09 15:47] mhristache opened #235 "How to check the version of the binary"
Hi

I am trying to understand what version of Multus I get when I use https://raw.githubusercontent.com/intel/multus-cni/master/images/multus-daemonset.yml to install it. The MD5 sum for the x86_64 binary I get is `1d218378557f393a5872d809e5a82edb` which does not match the MD5 for the v3.0 or v3.1 amd64 binaries.

Can you help out? Is there a way to check the version of the binary? I tried `string

[2019-01-10 02:07] tcnieh commented on #229
Thanks, I noticed that too. Hence I created another custom resource:
[code]
As you can see, that I had a net1 connected within bridge mode via ens160, still unreachable:
[code]
This is really bothering me Orz

[2019-01-10 07:51] SchSeba commented on #229
Can you please run the ping test and in a second terminal run `tcpdump -vvvnnpi ens160 icmp`
If you don't see any packets please run `tcpdump -vvvnnpi ens160 arp`
post both outputs please

[2019-01-10 09:53] tcnieh commented on #229
Yes yes, I run ping test and tcpdump before, here is the icmp result:

![1](https://user-images.githubusercontent.com/32285674/50959569-3bdb7e80-14fe-11e9-9529-4a0700613cc6.PNG)

Here is the arp result:
![2](https://user-images.githubusercontent.com/32285674/50959712-878e2800-14fe-11e9-8982-e7b8f63b7574.PNG)

These IPs 100.67/78/69 are other utilization, nothing to do with the tests.

Here is anot

[2019-01-10 10:19] SchSeba commented on #229
All the tests are using a different subnet again can you please try the tcpdump with the right subnet (10.22.100.0/24)

The  packets go through a bridge in the interface (you select type bridge for the macvlan)  you can't see that bridge but is there.

[2019-01-10 10:56] s1061123 commented on #229
Hi,

If your pod is sitting on same node of 10.22.100.36, this ping should NOT work as expected due to macvlan limitation.

[code]
From https://docs.docker.com/v17.09/engine/userguide/networking/get-started-macvlan/#macvlan-bridge-mode-example-usage

[2019-01-10 19:30] dougbtv commented on #235
Also -- for what it's worth, the `nfvpe/multus:latest` is the latest tagged release. There's also docker image tags for each tagged release. There's also the `nfvpe/multus:snapshot` which is latest build @ master HEAD.

[2019-01-11 04:07] tcnieh commented on #229
Thanks,  I did another test with right subnet (10.22.100.0/24), still got the same result:
![4](https://user-images.githubusercontent.com/32285674/51010342-e0a59c80-158e-11e9-81bf-12ae0024bce7.PNG)
![5](https://user-images.githubusercontent.com/32285674/51010346-e4392380-158e-11e9-880b-e6f8ee437a8b.PNG)

Hence, it seems like what Mr.Hayashi said, the pod can not ping as expected due to its limitat

[2019-01-11 15:55] mhristache commented on #235
Thanks @dougbtv

[2019-01-11 15:55] #235 closed

[2019-01-15 22:42] xdk-rachel commented on #229
Can you ping the other ip address which is in the range  of 10.22.100.xxx?

[2019-01-16 03:07] tcnieh commented on #229
![image](https://user-images.githubusercontent.com/32285674/51223021-18d82100-197b-11e9-8af0-7e4aa01ef1d1.png)
Yes, I got response If I ping other pod with same subnet, in this case, pod-4 (10.22.00.238) ping pod-3 (10.22.00.237).
My testbed could be describe as followed picture:
![k8s](https://user-images.githubusercontent.com/32285674/51223733-0ad7cf80-197e-11e9-950c-a02c21594285.jpg)
And what I

[2019-01-18 15:38] lefranco6910 commented on #227
Hi,

This is my recipe to use Multus over Calico (05-multus.conf).

This file must be dropped in the /etc/cni/net.d folder. Make sure it has the lowest index of all the files in there ("05" in the example). Restart Kubelet. You should be all set. Make sure "nodename" is adjusted to the hostname of the K8s host. Also, the certificates must be in the required locations.

[05-multus.txt](https://gith

[2019-01-20 09:35] hangzhouwanjun opened #239 "Reboot server, cmddel not success, pod ip will not release."
**What happend**:
If reboot server,  i find the /var/lib/cni/networks/mynet/10.10.1.13 is not deleted, 10.10.1.13 is the pod ip.

**What you expected to happen**:
The pod ip will be retrieve.

**How to reproduce it (as minimally and precisely as possible)**:
Reboot server.

**Anything else we need to know?**:
I think this is a bug, because in multus.go, the cmdDel has bad code,such as:
`if args.Ne

[2019-01-20 20:37] rkamudhan commented on #239
@hangzhouwanjun Thanks for finding the issue. I will create a PR for this fix. Thank for helping us to find the bug.

[2019-01-22 09:23] hshtel opened #240 "Can't add second interface to the pod with multus"
I am trying to add multiple interfaces to a POD using multus but with no luck, I have followed the instruction in the Quickstart Guide:

-  use daemonset to install multus with flannel.
-  use macvlan-conf in the example directory to set the NetworkAttachmentDefinition as below:

[code]
-  deploy sample-pod to use macvlan as seconf interface with flannel:
[code]

- the output of "kubectl exec -it

[2019-01-22 10:22] pawansingh126 opened #241 "Not able to setup multiple calico networks in a pod / or weave as default and calico as secondary interface"
Following are the configurations which I'm using to test and understand multus-cni setup. Although each of these networks work fine when setup individually but I'm facing issues with some of the combinations.

FYI: pod-cidr=172.18.0.0/16

multus conf looks like:

[code]

And network attachment definitions look like:

[code]

[code]

[code]

[code]
--------------------------------------------------

[2019-01-22 21:03] dougbtv commented on #241
Hi @pawansingh126 -- we haven't yet put together a community guide on using Calico, we have planned for it though and are tracking in #227 , I'll check back here when I have some progress.

[2019-01-22 21:35] dougbtv commented on #240
Ahhh -- you know what -- I think you might have installed Flannel first. So you have an alphabetically first config called `10-flannel.conflist` and Kubernetes reads that first, and it never executes Multus.

What you can do is `cd /etc/cni/net.d; mkdir old-configs; mv 10-* old-configs`

That'll make so that `70-multus.conf` is the first in alphabetical order in that dir, and then it should execut

[2019-01-22 22:49] dougbtv commented on #227
@lefranco6910 -- thank you a *ton* for posting this configuration! I'll give this technique a try (Vivek had some nice feedback about how well it worked for him) and I'll use it as a basis to incorporate into our documentation as an example of how to use Calico with Multus, thanks!!!

[2019-01-22 22:56] rkamudhan commented on #227
@dougbtv we should add both flannel and calico multus daemonset in the https://github.com/kubernetes/website/blob/master/content/en/docs/setup/independent/create-cluster-kubeadm.md as PR

[2019-01-23 07:25] s1061123 opened #243 "tryLoadK8sPodDefaultNetwork() may send unnecessary error message"
`"Error deleting network: tryLoadK8sDelegates: Err in loading K8s cluster default network from pod annotation: tryLoadK8sPodDefaultNetwork: failed to get pod annotation: getPodDefaultNetworkAnnotation: failed to query the pod podest-1 in out of cluster comm: pods "podtest-1" not found"`

Description:
In case of `terminationGracePeriodSeconds: 0`, Kubernetes may invoke cmdDel() after pod removal in

[2019-01-23 07:52] hshtel commented on #240
Thanks @dougbtv for your response, I have tried your suggestion but it didn't work. also I tried another plugin (weave net) but with no luck.

below is my configuration now:
root@master:~/multus-cni/examples# vi weave-conf-test
[code]
root@master:~/multus-cni/examples# vi sample-pod.yml
[code]

[code]
[code]

the sample-pod is working normally but with no second interface
[code]

[2019-01-23 16:15] rkamudhan commented on #243
Is the certificate is right here ? Kubeconfig is failing here.

[2019-01-23 16:47] s1061123 commented on #243
it is happen during e2e tests and of course kubeconfig is exists and valid

will add more info then.

[2019-01-23 17:05] rkamudhan commented on #243
It is strange.. It should not happen..
can you give entire log of kubelet and multus as well ?

[2019-01-23 17:45] dougbtv commented on #243
Here's some detailed Multus log where the error occurs. The certs are apparently fine, other pods do create/delete successfully.

[code]

And some logs from the kubelet grepping for the same pod:

[code]

[2019-01-23 17:59] rkamudhan commented on #243
Are you guys giving right namespace ? Is this pod in namespace is in kube-system ?

[2019-01-23 22:40] rkamudhan commented on #243
I that is the issues, the namespace is gone and also the pod associated with it gone. So Multus is hitting pod that not existing.

[2019-01-24 13:16] s1061123 commented on #243
Following yaml could be a one that happens the issue.

[code]

[2019-01-24 13:47] rkamudhan commented on #243
Is this test runs in the default namespace. I think Multus is working in different namespace and testing is happening in different namespace..

[2019-01-24 18:44] dougbtv opened #244 "Bin directory is different when using CRI-O"
When using CRI-O we have a different default binary directory (`/usr/libexec/cni`). I propose that we have an extra daemonset that's used for CRI-O based installations.

Such as: https://github.com/intel/multus-cni/blob/master/images/multus-crio-daemonset.yml

We'd then go and set the bin directory in the mounted dirs: https://github.com/intel/multus-cni/blob/master/images/multus-daemonset.yml#L13

[2019-01-24 18:59] dougbtv commented on #244
Add to [container section](https://github.com/intel/multus-cni/blob/master/images/multus-daemonset.yml#L120-L129) of the daemonset:

[code]

[2019-01-25 15:03] PatrickKutch commented on #240
I am having the same exact issue.  Using 1.13 via kubeadm install.  Tried a fresh install where right after init I   did cat ./images/{multus-daemonset.yml,flannel-daemonset.yml} | kubectl apply -f -.  All works fine, but when I create pods via the rest of the example, additional interfaces not created.

[2019-01-25 15:04] rkamudhan commented on #240
@PatrickKutch Can you give me the example pod you used ?

[2019-01-25 15:05] rkamudhan commented on #240
@PatrickKutch @hshtel can you do `ls -l /etc/cni/net.d/`

[2019-01-25 15:31] PatrickKutch commented on #240
I figured it out - the example uses 'eth0' in macvlan-conf.  Should be whatever you have on your specific system - mine is ens3.  Might want to update the doc to clearly indicate this for newbie's such as myself :-)

[2019-01-25 19:31] dougbtv commented on #240
@PatrickKutch -- thanks for reporting the fix and also the documentation suggestion! Agreed. I've got a fix together in #248, give it a thumbs up if you agree (or have another suggestion, please feel free to comment -- always looking for eyeballs on the docs from fresh eyes) and we'll merge it in.

Thanks again!

[2019-01-25 19:58] hshtel commented on #240
@dougbtv I had to uninstall and reset configuration related to other plugins ( flannel & weavenet) then I was able to redeploy multus and flannel (multus first) and it is working now. I will close this issue
Thanks again.

[2019-01-25 19:58] #240 closed

[2019-01-29 09:21] hightoxicity opened #251 "Cannot use host-device cni plugin with multus"
**What happend**:

Submitting a net attachement config (https://github.com/heptio/cni-plugins/tree/master/plugins/main/host-device) to use host-device:

[code]
After that, I launched the following pod:

[code]

But my pod is staying in ContainerCreating state.

On describe, this is the error I tracked:

[code]

**What you expected to happen**:

My pod in running state with the ens4 interface prese

[2019-01-29 09:36] s1061123 opened #252 "Adding config for namespace for clusterNetwork/defaultNetworks"
**What would you like to be added**:
Adding new config parameter that specifies namespace for clusterNetwork/defaultNetworks (currently fixed to 'kube-system'
**Why is this needed**:
Allow user to change the namespace

[2019-01-29 09:38] s1061123 opened #253 "Adding config for namespace for system components"
**What would you like to be added**:
Adding config for namespace for system components that avoid to have defaultNetwork.

**Why is this needed**:
Some kubernetes distribution uses several namespaces for kubernetes component (which should not have defaultNetworks).

[2019-01-29 11:06] s1061123 commented on #251
Hi,

Could you please specify CNI plugin (for network attachment definition) as "type", following?

[code]

[2019-01-29 11:23] hightoxicity commented on #251
OK ! Great thanks, I have already tested like this but I got another error about binary not found.
I investigated and I finaly found that the binary was present in the last cni plugin release (0.7.4), this is what I missed since I was using the v0.6.0 release.

Thanks for your help.

[2019-01-29 11:23] #251 closed

[2019-01-29 15:41] s1061123 commented on #244
I use `000-multus.conf` for config and it works in case of cri-o.

[2019-01-29 16:13] aneeshkp commented on #244
@s1061123 In that case should rename images/70-multus.conf to 000-Multus.conf in repo itself?
Or may be add instructions?

[2019-01-29 21:42] dougbtv commented on #244
Hrmmm, maybe we want to name it something like.... `05-multus.conf` or something... higher than 0. The only reason being is that it's nice for debugging if you have to create a `00-mytest.conf`.

But, I like the idea of reducing it to less than 10, I think that's a good idea.

[2019-02-01 14:21] dolphyvn opened #256 "Get multus network ip discovered via k8s service"
Is it possible to get multus network ip discovered via service on kubernetes?
Currently kubernetes service only able to get endpoints IP (Pod IP) from default network whether  it is calico or flannel.., so example when running multus + calico, how we can archive this?

[2019-02-01 15:44] dougbtv commented on #256
Hi Dolphy -- we're currently discussing Kubernetes service awareness for multiple network attachments in the [k8s network plumbing working group](https://github.com/K8sNetworkPlumbingWG/community), however...

There is a way to query for the resulting IP addresses for pods, there's what I call a "results object" otherwise termed a `networks-status` annotation -- it's an annotation showing the resu

[2019-02-01 16:09] dolphyvn commented on #256
Thanks @dougbtv !. Then I guess it will be great if there is a way to update service endpoints after get those ip?

[2019-02-01 16:43] dougbtv commented on #256
No prob! It will be great, but... That is future technology. One that we're focused on. And it's under discussion, but, it's still in a design phase. Kural has done some PoC's surrounding this, and I believe some of the work may happen in this controller: https://github.com/K8sNetworkPlumbingWG/k8s-net-attach-def-controller -- but, I'd recommend participating in the working group if you're looking

[2019-02-01 22:17] PatrickKutch opened #257 "nfvpe/multus:latest used in multus-daemonset.yml fails with SR-IOV lugin"
Following the instructions cat ./images/{multus-daemonset.yml,flannel-daemonset.yml} | kubectl apply -f - does what is expected and puts the multus plugin on all the systems.

However that binary plugin is slightly out of date and doesn't seem to work with the SR-IOV plugin.

If I build the multus plugin from source and manually copy it over to each system, SR-IOV will work.

I believe the nfvpe/m

[2019-02-04 10:51] ahalim-intel commented on #257
@rkamudhan @s1061123
The nfvpe/multus:latest was built last time 6 months ago! Thus it does not support device information fetching. Can we please at least have the _**:latest**_ tagged image build regularly?

As per the main README.md we are suggesting users to deploy using a pre-built image which is not up to date.

[2019-02-05 12:02] maximshd commented on #243
Hi,

I am observing similar multus behavior for the cases when pod terminates faster then multus will start to release network resources.
In such cases, IPs allocated to the pod will not be released and I have to clean up /var/lib/cni/networks dir manually to release IPs (for cases when we have small IP network range we can run out of resources pretty quickly).
Do you plan to merge proposed fix to

[2019-02-05 14:31] dougbtv commented on #243
@maximshd -- yes we do! Let me ask around with the maintainers and let's see about getting it merged soon.

[2019-02-05 17:31] rkamudhan commented on #257
@PatrickKutch & @ahalim-intel The image point to the v3.0 version. Please use `[nfvpe/multus:snapshot](https://hub.docker.com/r/nfvpe/multus/tags) in ` https://github.com/intel/multus-cni/blob/master/images/multus-daemonset.yml

[2019-02-05 19:53] dougbtv commented on #257
Thanks Kural -- I think this does bring up a point that sometimes people expect the `:latest` tag to be, well, tip of master. Maybe this should change, however, I'd also say in tandem, that for community friendliness that the quick-start daemonset-style installation refer to a tagged release, potentially.

[2019-02-06 15:07] rkamudhan commented on #257
@dougbtv I think it time for the next latest release. We should discuss it in our core meeting :).

[2019-02-07 00:33] PatrickKutch commented on #257
I think both, but at a minimum I'd make the yaml files point to a tagged release.

[2019-02-07 16:06] dougbtv opened #260 "Proposal for improvements to releases and image tagging"
Here's my proposal for the changes to releases / image tagging.

## Release schedule

We should tag a release soon (as v3.2), and come up with a schedule for having a regularly tagged release (I propose every 3 months), we haven't had a tagged release in 6 months.

In concert with this, we'll also update the `images/multus-daemonset.yaml` to point at the newly tagged release, e.g.

[code]

## Impr

[2019-02-10 12:08] SchSeba commented on #260
@dougbtv it will be nice to have also a Z stream for some important cherry picks like bugs and security issues.

[2019-02-11 09:34] hanxueluo opened #261 "which namespace should clusterNetwork be defined in"
currently, multus-cni support specify pod default network in two ways:
1. add "clusterNetwork" in multus.conf, and no annotation on pod
2. annotation "v1.multus-cni.io/default-network" on pod, which overwrite the "clusterNetwork" in multus.conf

Before commit 6bf296f54d11d7a3e84020366116add9441e1570, these 2 configurations both lookup net-attach-def in namespace "default". After that commit, the f

[2019-02-12 15:24] Scavallarin commented on #240
Hi, I followed all the steps, but the result is that now "get pods" is telling me:  that the connection to <host>:6443 was refused - did you specify the right host or port?
It looks like k8s is still looking for 10-wave.conflist, and it has even recreated the file that i moved into a new directory called "old-configs", just to live only the 70-multus.conf inside net.d. How can i reset the configur

[2019-02-20 09:45] pliurh opened #265 "Generate the multus config file regardless if MULTUS_CONF_FILE is set to 'auto'"
**What would you like to be added**:

Currently, the Multus daemon will only generate file 00-multus.conf when it doesn't exist. But, I propose to generate that file regardless. It means if MULTUS_CONF_FILE is 'auto',  multus daemon shall always generate the file 00-multus.conf, and if that file exists just overwrite it.

**Why is this needed**:

This change could be beneficial in following scenar

[2019-02-21 01:03] wei0313 opened #266 "set mac address to an interface"
Hi
I want to have a "fixed" mac-address and my own interface name instead of "net1" for my interface; meaning, which time I redeploy the pod I want the interface to always have the same mac.  Below are my original yaml files.  I have also tried putting my network-definition under /et/cni/multus/net.d/macvlan-conf.conf and change my network-attachment-definition, but this still doesn't work.
I also

[2019-02-21 02:31] s1061123 commented on #261
@hanxueluo , this should be issue and both should be in 'multusNamespace' in config, default is 'kube-system'.

Let me fix the code.

[2019-02-21 02:34] s1061123 commented on #266
To configure MAC address, you need:

- to install 'tuning' CNI plugin (you need to build/install from https://github.com/containernetworking/plugins to get the latest because mac address support in tuning is recent), and
- use 'tuning' CNI plugin for network-attachment-def as following (https://github.com/intel/multus-cni/pull/148/files?short_path=04c6e90#diff-04c6e90faac2675aa89e2176d2eec7d8)

Co

[2019-02-21 04:00] wei0313 commented on #266
Will give it a try.
If later on I need to use ovs instead of macvlan, can I still use tuning on top of ovs? I have been testing with ovs-cni.

[2019-02-21 04:01] wei0313 commented on #266
Thanks @s1061123  I will give it a try.
If later on I need to use ovs instead of macvlan, can I still use tuning on top of ovs? I have been testing with ovs-cni.

[2019-02-21 10:13] SchSeba commented on #266
Hi @wei0313 the question is if the ovs write the mac he assign on a mac filter or something if not yes you can use the tuning.

[2019-02-21 12:49] dougbtv opened #267 "Incomplete deletion when pod is failing"
**What happend**: If a pod is in a failed state, when you go to remove it, the deletion may be incomplete. That is, the DEL call to Multus doesn't properly make it all the way to delegate CNI plugin. The logging is also somewhat incomplete.

**What you expected to happen**: Deletes on failed pods always call the delegate CNI plugin.

**How to reproduce it (as minimally and precisely as possible)**

[2019-02-21 17:10] wei0313 commented on #266
@SchSeba judging by the ovs-cni code, it reads mac attribute, but since multus is not setting it so it doesn't reflect. I am wondering if using tuning would help in this matter

[2019-02-21 19:13] dougbtv commented on #267
I've determined that Multus is crashing in this case...

It's crashing somewhere in here: https://github.com/intel/multus-cni/blob/8bf358071ab54b8f38d10027ccf81a29dfb78b3d/multus/multus.go#L398-L409

The gist is that... We have...

[code]

At this point in time, after `netns, err := ns.GetNS(args.Netns)` is `netns` nil, and then we go and call `.Close()` on a nil.

[2019-02-21 19:28] dougbtv commented on #267
I think I have some progress on identifying what's happening (removed previous comment because it was somewhat inaccurate after further testing)

Looking at the lines in question: https://github.com/intel/multus-cni/blob/8bf358071ab54b8f38d10027ccf81a29dfb78b3d/multus/multus.go#L398-L409

What's happening is that we wind up with `<nil>` for the `netns` variable on the first line in question here.

[2019-02-22 08:50] s1061123 opened #270 "ClusterNetwork/DefaultNetworks error message improvements"
**What would you like to be added**:
Currently in case of ClusterNetwork/DefaultNetwork error, multus gives ambiguous error messages and cannot identify error and not found.

**Why is this needed**:
Ease of troubleshooting

[2019-02-22 13:54] #267 closed

[2019-02-22 14:08] #261 closed

[2019-02-24 08:36] SchSeba commented on #266
Hi @wei0313 if the ovs knows how to read the mac address you can try to configure the pod this way

[code]

If he can't read the mac but he doesn't configure a mac filter you can use tuning like this

[code]

[2019-02-25 19:21] dougbtv opened #272 "Multus interoperation with Minikube"
**What would you like to be added**: Documentation reflecting usage on Minikube

**Why is this needed**: Would be nice for trial environment / first try with Multus.

**Current failings**:

@mccv1r0 reports that:

He's using

[code]

...to kick off the install.

He's running into an issue with Flannel (firstly), which results in pods that look like (this pastebin): http://pastebin.test.redhat.com/

[2019-02-25 19:30] mccv1r0 commented on #272
Additional info:

Host is fedora 28
minikube version: v0.33.1

start minikube using kvm2 and cri-o
[code]

multus wasn't auto-magically copied to node, so sample pod didn't start.  When I copied multus to /opt/cni/bin/multus, hit issue with flannel

[2019-02-27 09:22] owengo commented on #158
@Elegant996 thank you for your workaround.
I have a need for multi-homed pods in 2 cases:

1. router / ingress pods for web traffic: for example, I deploy ingress-nginx as a daemonset on an openshift cluster, and I need that the web traffic outputs via a gateway which is not in the sdn network ( external load balancer )
2. email sending pods: I have pods specialized in email sending who need to ha

[2019-02-27 13:59] s1061123 opened #274 "Logging option (verbose)"
**What would you like to be added**:
For now, logging option is 'error' and 'debug'. Propose 'verbose' option, in between 'error' and 'debug' and print some useful info (CNI result, kube annotation)

**Why is this needed**:

[2019-02-27 17:40] Elegant996 commented on #158
@owengo You are welcome but I learned the other week that this is now a cni plugin upstream. Please see [sbr](https://github.com/containernetworking/plugins/tree/master/plugins/meta/sbr) for more info. Thanks!

[2019-02-27 18:25] Elegant996 commented on #266
I am experiencing the same issue using the below but please take note of the annotations for `interface` and `interfaceRequest`.

When digging into this, it appears that there is no definition for `interface`, `mac` or `ips` per the [parsePodNetworkAnnotation](https://github.com/intel/multus-cni/blob/260316398faaff7601c22145c0707a6e86fbb237/k8sclient/k8sclient.go#L193) and [parsePodNetworkObjectNa

[2019-02-28 14:25] #265 closed

[2019-03-01 10:06] pliurh commented on #157
@s1061123 @dougbtv I wonder if this issue can be re-open as a Feature Request. As this would be helpful for some scenarios like cluster network migration, where user can switch the cluster default CNI through the customer resource instead of updating multus.conf file on each host.

[2019-03-01 13:28] #157 closed

[2019-03-05 03:21] wei0313 commented on #266
@Elegant996  I tried with "mac": "aa:bb:cc:dd:ee:ff" and it doesn't seem to take effect. did it work for you?

[2019-03-05 03:25] wei0313 opened #277 "multus-cni namespace issue"
Hi
I deployed multus-cni first. I was able to successfully deploy my pod without giving any namespace. Then, I created a new namespace. I tried to deploy the same image with the new yaml which reflects to the new namespace. However, I kept getting errors saying that it can't find multus-cni in this new namespace. What should I do to resolve this issue? I googled but can't seem to find the answer t

[2019-03-05 08:14] SchSeba commented on #266
Hi @wei0313 what is the image tag that you use for multus ?

[2019-03-05 15:31] Elegant996 commented on #266
That could be it, I'm using `stable` perhaps this is only available when using `snapshot`?

[2019-03-05 15:33] rkamudhan commented on #266
The 'snapshot' will point to master. If you need the latest commit. Please use the snapshot.

[2019-03-05 16:36] dougbtv commented on #277
Hi @wei0313 -- any chance you can provide us with the steps that you followed so that we can replicate the issue? We might be able to give you some deeper insight given that. Thanks!

[2019-03-05 17:14] wei0313 commented on #277
network CRD
`apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: ovs-eth1-agnes
  namespace: agnestest
  annotations:
    k8s.v1.cni.cncf.io/resourceName: ovs-cni.network.kubevirt.io/eth1
spec:
  config: '{
      "cniVersion": "0.3.1",
      "type": "ovs",
      "bridge": "eth1"
    }'
`
deployment.yaml
`apiVersion: apps/v1
kind: Deployment
metadata:
  name: agnes-

[2019-03-05 17:16] wei0313 commented on #266
I am using master. I only ran the "cat .images/{multus...flannel...} | kubectl apply -f -" cmd. Should i change to snapshot?

[2019-03-05 21:52] Elegant996 commented on #266
@wei0313 We're refering to [this line](https://github.com/intel/multus-cni/blob/f0a43ca0a553b2208b0d4ec0e11da6332d88efb5/images/multus-daemonset.yml#L122) in `multus.yaml`. The tag `latest` is 7 months old and `stable` uses the latest commits which is likely what we're after.

[2019-03-06 04:26] andysun1123 opened #278 "Assign same ip address for POD"
I have deployed k8s cluster via kubeadm, 1 master +  2 node.
then deploy multus, default network is calico and CRD is macvlan.
https://github.com/intel/multus-cni/blob/master/doc/quickstart.md

Then I create 3 pods which depoly to 2 nodes.
the pod on different nodes will assign the same ip address via macvlan.
how could I control them, I want they have unique ip address and could reach each other.

[2019-03-07 11:00] SchSeba commented on #278
Hi @andysun1123
the IPAM for macvlan is `"type": "host-local"` this mean every node only knows about is allocated ips if you want to have unique ip over the cluster please take a look on the dhcp IPAM https://github.com/containernetworking/plugins/tree/master/plugins/ipam/dhcp

[2019-03-07 14:50] #164 closed

[2019-03-07 14:50] #243 closed

[2019-03-08 10:20] s1061123 commented on #218
#279 fixed it

[2019-03-08 10:20] #218 closed

[2019-03-08 19:47] cliffburdick commented on #211
@ahalim-intel sorry, commented in the wrong spot instead of on the issue itself:

do you know when this will be pushed upstream? I ran into this issue with the SRIOV plugin.

[2019-03-08 20:29] dougbtv commented on #211
@cliffburdick -- have you tried the `nfvpe/multus:snapshot` image -- in theory #212 was merged earlier this week and should be in that image.

[2019-03-08 20:43] cliffburdick commented on #211
@dougbtv trying right now...

[2019-03-08 22:25] cliffburdick commented on #211
@dougbtv I'm getting this error:

  Warning  FailedCreatePodSandBox  104s                kubelet, s011  Failed create pod sandbox: rpc error: code = Unknown desc = [failed to set up sandbox container "b6f68bb9599da2f46dc898c8a9f1ba3d35279e294b1915bdece6e05b7578f545" network for pod "ut-cburdick-b6f192": NetworkPlugin cni failed to set up pod "ut-cburdick-b6f192_default" network: netplugin failed b

[2019-03-11 10:02] ahalim-intel commented on #211
@cliffburdick As @dougbtv pointed out, this issue should be resolved now with PR #212 . From your last logs it seems some issue with sriov-cni config. We need more contexts on this. Are you using this without [sriov device plugin](https://github.com/intel/sriov-network-device-plugin)?

[2019-03-12 21:13] sseetharaman6 opened #281 "Multus returns error when calling secondary networks"
**What happend**:
This is similar to https://github.com/intel/sriov-cni/issues/72. When creating containers with multiple networks, Multus returns the following error when trying to configure the secondary networks
[code]
and the pod remains stuck in `ContainerCreating` state. This issue occurs with both `nfvpe/multus:latest` and `nfvpe/multus:snapshot` images.

**What you expected to happen**:
Se

[2019-03-14 09:53] maximshd commented on #281
Hi,
I am observing something similar with the latest Multus source code.  But for my case, Multus cannot assign default flannel network for pods which are running not in kube-system namespace.

Multus configuration:
  `{
  "name": "multus-cni-network",
  "type": "multus",
  "logFile": "/var/log/multus.log",
  "logLevel": "debug",
  "namespaceIsolation": false,
  "delegates": [
    {
      "cniVers

[2019-03-14 15:04] maximshd commented on #281
Runtime panic happens  SetNetworkStatus method which was executed without initial kubeClient initialization, so kubeClient has a nul value when multus tries to get pod info.
I created pull request #283 which should resolve this problem. At least I don't see any errors in kubelet logs and pods can be successfully created in any k8s namespace.

[2019-03-15 08:17] maximshd commented on #277
Hi @wei0313 ,

I caught the same problem with the latest Multus version. To resolve it you need to configure clusterrolebinding for every node in k8s cluster.
Please follow configuration guide - https://github.com/intel/multus-cni/tree/master/examples#rbac-configuration

[2019-03-20 11:46] ahalim-intel commented on #281
Folks, I can confirm this issue even with default network. Looks like the current master is broken.

[2019-03-20 12:08] #281 closed

[2019-03-21 02:10] Elegant996 opened #285 "Unable to assign MAC when using DHCP"
**What happened**:
Using `mac` in the annotations did not work when specifying `dhcp` as the `ipam`.

**What you expected to happen**:
`multus` to apply the `mac` in order to allow the `dhcp` plugin to be able to acquire a desired reservation from the DHCP server.

**How to reproduce it (as minimally and precisely as possible)**:
Create a config for `multus` which uses the `dhcp` plugin for the `i

[2019-03-21 06:53] s1061123 commented on #285
There are several reason as follows:

1. As following, your mac address, "e7:d1:44:8d:65:b0", is rejected by kernel due to local bit misssing
https://superuser.com/questions/725467/set-mac-address-fails-rtnetlink-answers-cannot-assign-requested-address/725472

[code]

2. If you change MAC address, dhcp address should be invalid because dhcp protocol uses client MAC address for the IP address assoc

[2019-03-21 17:27] #260 closed

[2019-03-25 08:03] zshi-redhat opened #289 "SR-IOV doesn't work with Multus using conflist"
**What happend**:

SR-IOV CNI doesn't recognize the ``deviceID`` passed from Multus in the case of ``conflist`` (chained plugin config format) is used.

**What you expected to happen**:

Multus passes the correct conflist format to SR-IOV CNI.

**How to reproduce it (as minimally and precisely as possible)**:

Follow the instructions in SR-IOV Network Device Plugin [README](https://github.com/inte

[2019-03-25 08:05] zshi-redhat commented on #289
@s1061123 thanks for capturing this issue!

[2019-03-25 14:49] ahalim-intel commented on #289
@zshi-redhat The error log shows it failed on delete during CNI version parsing. The CRD above has no version information, I'm not sure what is the default behavior is if delegate has no version information.

As a side note: I don't get the use-case with the above config for sriov-cni. The "deviceID" is expected to be unique on each Pod. Usually we leave this out in CRD for Multus to fill in when

[2019-03-25 15:00] zshi-redhat commented on #289
Sorry for the misleading of error messages, please take a look at this line:
[code]
it has ``deviceID`` parameter included in the same level as ``name``, which shall be contained inside ``plugins`` as a sub-option.

Yes, the example CRD above is for demonstrating how to reproduce the issue and how it shall be fixed.

[2019-03-26 13:31] lubouski opened #291 "Multus ipam - dhcp : Containernetworking plugin DHCP, unanable to set up interface."
**What happend**:
Multus unable to invoke correctly containernetworking plugin `dhcp`. Log output below. With standard configuration of `NetworkAttachmentDefinition` for `ipam` - `host local` , pods crated correctly.

[code]

**What you expected to happen**:
Pod acquire correct ip address from `dhcp` , pause container started properly.

**How to reproduce it (as minimally and precisely as possible

[2019-03-26 15:12] s1061123 commented on #291
@lubouski did you check DHCP server availability without multus? `sudo ./dhcp daemon` process is not DHCP server, it is just a "DHCP CNI Plugin" daemon, so you need DHCP server other than `./dhcp daemon`.

[2019-03-26 15:26] lubouski commented on #291
@s1061123 I know that `/opt/cni/bin/dhcp` is a containernetworking plugin, according to documentation of https://github.com/containernetworking/plugins/tree/master/plugins/ipam/dhcp
it should be running. And yes without this `daemon` multus crashes to execute CNI.
DHCP server is available, existing addresses for `ens192` assigned dynamically from that DHCP server (isc-dhcp-server).

[2019-03-27 08:19] s1061123 commented on #291
As far as I looked the logs, multus seems to create interface (net1) but dhcp plugin is failed to get IP address. Because DHCP daemon try to send

[code]

Could you please check DHCP server configuration?

P.S.
Similar logs are shown at the case.
https://github.com/containernetworking/cni/issues/398

[2019-03-27 09:22] lubouski commented on #291
@s1061123 Thanks for the link. Probably this is macvlan plugin issue.

<img width="700" alt="Screen Shot 2019-03-27 at 12 18 25 PM" src="https://user-images.githubusercontent.com/32539027/55064160-8fd01b00-508a-11e9-805e-38f7ffb9b341.png">

Host (Ubuntu server 18.04) interface gets correct ip address , and then I use `macvlan` without DHCP everything works fine

[code]

[2019-03-27 09:47] lubouski commented on #291
[code]
P/S: Same behavior with different DHCP server that works on out network:

[code]

CRD config:
[code]

[2019-03-28 12:03] Raajev opened #293 "Multus binary missing in /opt/cni/bin with version 3.1 yaml file"
I was unable to get the multus binary file in the /opt/cni/bin directory when applied the v3.1 yaml file from
https://raw.githubusercontent.com/intel/multus-cni/v3.1/images/multus-daemonset.yml

Config files and images in the docker were updated though. Also, image tag was "latest" and not v3.1.

With v3.2 yaml file, i get the binary file in the /opt/cni/bin and correct image tag in docker.

I als

[2019-03-28 12:25] Raajev opened #294 "Change in network attachement between v3.2 and v3.1"
With v3.2, we are no longer able to use "interfaceRequest" key for network Attachments.

`  networkAttachments:
  - name: node-int1
    interfaceRequest: eth1
`
We now need to use "interface" instead
`  networkAttachments:
  - name: node-int1
    interface: eth1
`
This is breaking the backward compatibility.

I was expecting that for backward compatibility both "interface" & "interfaceRequest" sho

[2019-03-29 11:51] rhrazdil opened #295 "oc/kubectl get doesn't work for kind 'NetworkAttachmentDefinition'"
Hey guys.
When listing nads with ```oc get NetworkAttachmentDefinition``` the command results with an error: ```error: the server doesn't have a resource type "NetworkAttachmentDefinition"```.

It works as expected when ```net-attach-def``` shortcut is used instead of the KIND ```NetworkAttachmentDefinition```. It should be possible to use the KIND as well

**What happend**:
error: the server does

[2019-03-31 12:40] snirgu opened #298 "multus + weave net issue"
Hi , im trying to understand how to configure multus to work with weave net using multiple nics inside the pod .
when i configure multus with flannel using the commands from the quick guide everything perfect  and i get working containers with macvlans nics and flannel as the default cluster network .

when i add weave net cni, the pod get up and running with no errors but without nics either ..(e

[2019-04-01 23:29] kahou82 opened #299 "Multus doesn't support ipv6 k8s api service endpoint"
I am trying to setup a k8s cluster with two interfaces: primary interface ipv6 running as Calico CNI and the secondary interface running as macvlan.

I can successfully setup an IPv6 pod and all the services are working well (api server is running as IPv6 and my pod can communicate to it).

But when I try to spin up a pod with macvlan as the secondary interface, I see the following message in the

[2019-04-03 16:47] dougbtv commented on #299
Any chance you could try to build a Multus image using this modified entrypoint in this PR and see if it works for you?

https://github.com/intel/multus-cni/pull/238/files

[2019-04-03 23:46] dougbtv commented on #298
Hi @snirgu ! I believe the problem might be that the Weave configuration is first alphabetically in your `/etc/cni/net.d` directory. Thus, overriding the configuration for Multus. The first file alphabetically in that directory is the configuration that the Kubelet honors.

We currently don't have examples for Weave. So, the general process for what you'd do instead of the quick-start method is:

[2019-04-05 07:26] Miouge1 opened #301 "system:node can't list namespaces"
Some pods are stuck in `ContainerCreating` and show the following error
[code]

Adding `get`, `list`, `watch` permissions for `namespaces` in the `system:node` `ClusterRole` removes this error message, but the default value for `system:node` doesn't seem to work.

[2019-04-05 16:08] kahou82 commented on #299
@dougbtv do you have pointer on how to build and deploy the binary? https://github.com/intel/multus-cni/blob/master/doc/development.md doesn't have a lot of info.

[2019-04-06 11:49] sbezugliy commented on #117
One of possible causes:
When you  initializing cluster with new --pod-network-cidr after reset(kubeadm reset), you will have existing network bridge(cni0 by default) to container interfaces which have incompatible network parameters. So, before kubeadm init --pod-network-cidr=<new_subnet/mask>, you need to delete this bridge:
sudo ip link set cni0 down; sudo ip link del cni0;

[2019-04-08 16:05] shahar-klein opened #302 "Trying to use "clusternetwork" - what am I doing wrong"
**What happend**:
I'm trying to replace the delegates section in the config map:
kind: ConfigMap
apiVersion: v1
metadata:
  name: multus-cni-config
  namespace: kube-system
  labels:
    tier: node
    app: multus
data:
  cni-conf.json: |
    {
      "name": "multus-cni-network",
      "type": "multus",
      "LogLevel": "debug",
      "LogFile": "/var/log/multus.log",
      "delegates": [

[2019-04-08 18:40] dougbtv commented on #252
@s1061123 -- I think this one is closed? We have the PR which references it merged @ https://github.com/intel/multus-cni/pull/254

[2019-04-08 21:44] s1061123 commented on #252
@dougbtv Yes, so let me close it.

[2019-04-08 21:44] #252 closed

[2019-04-10 22:56] fsedano opened #303 "RBAC issues"
I'm having a RBAC issue with multus;

From kubectl I can create networkattachmentdefinitions just fine:
[code]

However, if I try to do it from API it fails:

[code]

The API is using a serviceaccount with the following clusterrole:

[code]

Any hint on how to give appropriate permissions? I've verified the serviceaccount is actually using this clusterrole

[2019-04-12 10:22] frui0101 commented on #278
I met same issue, do you have any other approach for it? Is it possible that assign ip address by etcd instead of local assignment.
Seems nobody have the scenarios that the pod in different nodes wish to be assigned to same ip address.

[2019-04-13 01:35] s1061123 commented on #278
how about to use static ipam for that?
Multus can assign ip address from pod annotation with static IPAM CNI pluigin as follows:

[code]

Pod side:
[code]

[2019-04-16 02:45] frui0101 commented on #278
@s1061123 thanks your suggestion, sorry, I can't try it successfully and have enough time for trying. Also seems it is not feasible if we have several pods in the deployment, we can't use fixed ip address in the pod.
I have one idea  about it, based on the mechanism of the host-local plugins, It got ip address from "/var/lib/cni/networks/macvlan-cni/last_reserved_ip.0" locally, with least effort a

[2019-04-17 22:01] wittling commented on #291
similar issue here. when i use a host-local, i can get on the same network as the DHCP server and ping it. but when i use DHCP, the Pods freeze and don't initialize, because of this error:
Multus: error in invoke Delegate add - "macvlan": error calling DHCP.Allocate: too many open files

I ran a test and the DHCP request isn't even getting to the DHCP server. So the issue is somehow related to the

[2019-04-18 08:21] s1061123 commented on #303
I am not clear that what 'API' is (is that multus?)
Could you please provide the detail (including ClusterRoleBinding and what the API is)?

[2019-04-18 08:25] s1061123 commented on #301
Could you please let me know "how to install multus (daemonset yaml file or just copy?)", "multus CNI config (in /etc/cni/net.d)"?

[2019-04-18 08:32] s1061123 commented on #302
Hi,

`clusterNetwork`/`defaultNetwork` should be put in the namespace of `multusNamespace`(of multus CNI conf). `multusNamespace` is set to `kube-system` in default, so could you please add `namespace: kube-system` as following?

[code]

[2019-04-18 08:42] s1061123 commented on #295
Currently we use "network-attachment-definition (network-attachment-definitions)" for custom resource name, so that is why we do not use "NetworkAttachmentDefinition" for its name, as [Spec](https://github.com/K8sNetworkPlumbingWG/multi-net-spec/blob/master/%5Bv1%5D%20Kubernetes%20Network%20Custom%20Resource%20Definition%20De-facto%20Standard.md) defines as following:

[code]

[2019-04-18 13:53] dougbtv commented on #301
Also do you have any information on what Kubernetes version you're using?

[2019-04-18 13:57] dougbtv commented on #295
You could also add an extra short name:

[code]

[2019-04-18 13:58] #295 closed

[2019-04-18 14:05] dougbtv commented on #293
Thanks for the report Raajev -- you'll need to update the daemonset to set the tag specifically after we changed the tagging scheme recently:

[code]

[2019-04-18 14:05] #293 closed

[2019-04-18 14:09] dougbtv commented on #293
Also -- updated the release notes for v3.1, thanks again for reporting this one!

https://github.com/intel/multus-cni/releases/tag/v3.1

[2019-04-19 02:56] s1061123 commented on #274
#275 adds the feature, so closed.

[2019-04-19 02:56] #274 closed

[2019-04-19 13:46] Miouge1 commented on #301
This was on v1.13 installed with Kubespray v2.9.0

[2019-04-22 16:13] psiwczak commented on #301
Having same issue after the upgrade from v1.12.5.

[2019-04-24 08:09] Mmduh-483 opened #305 "Multi architecture image and CI job"
**Add Support for creating a multi-arch docker image for both amd64 and ppc64le**

[2019-04-25 04:12] #229 closed

[2019-04-25 06:51] s1061123 commented on #301
I install kubernetes (v1.14.0) with kubespray v2.9.0/CentOS (`kube_network_plugin=calico` + `kube_network_plugin_multus=true`) but cannot see the such error (succeed to launch following yaml pod, *1), so need more information for the issue. In addition, kubeadm does not happen the issue.

I guess I miss something to repro the issue and I need your info for that. Could you please let me know follow

[2019-04-29 12:12] lubouski opened #308 "Multus can't parse annotation inside replicaset and deployment manifests"
**What happend**:
Greeting maintainers :)
I'm facing the issue with Annotations in replicaset and deployment:
When I'm using replicaset, I see in multus.log, that Annotations:map[string]string{} is empty
[code]
As you can see Annotation map is empty, but in my manifest for replicaset annotation exists with weave as additional network interface:
[code]
**What you expected to happen**: I expect that

[2019-04-29 14:21] SchSeba commented on #308
Hi @lubouski I think the issue is the annotation needs to be on the pod and not on the replicaset something like this should fix your issue

[code]

[2019-04-29 14:53] lubouski commented on #308
@SchSeba many thx Sebastian :) I was too focused on multus internals, instead of just to check manifest for replicaset.

[2019-04-30 06:58] #308 closed

[2019-05-02 20:23] dougbtv opened #310 "Kube API Error classification - classify known errors and do not log them"
**What would you like to be added**: I'd like that when we receive an error from the API, that we classify those errors. In the case that Multus cannot talk to the API, that's a sort of fatal error. However, plenty of these kind of errors are actually known conditions that should be logged only during when there's a debug error logging level set.

**Why is this needed**: For example, when there's

[2019-05-03 13:49] dougbtv commented on #310
I went ahead and implemented Dan's suggestion (which is more pragmatic than my own initial suggestion) in #311 -- I'm going to leave this comment open for now, as there may be other error conditions that we do want to classify from the API server. This one is well known, we might know more via future experience or the happenstance finding of a "crystal ball" (hoping for the crystal ball).

[2019-05-04 14:21] TheDiveO commented on #213
@dougbtv ping ... any interest in merging after I've changed the PR accordingly?

[2019-05-05 10:03] wardenlym commented on #277
i meet the same issue on ubuntu18.04, kubernetes (v1.14.1),nfvpe/multus:v3.2
it does not work  even  i update clusterrole system:node and create clusterrolebinding with all node hostname

should i do something else for creating workload in non default namespace?

[code]

[2019-05-08 05:03] s1061123 commented on #301
@Miouge1 @psiwczak One q for your setting. Do you use `/etc/kubernetes/kubelet.conf` for `kubeconfig` in `/etc/cni/net.d/*multus.conf`?

[2019-05-08 05:56] s1061123 opened #313 "Make daemonset installer as default"
**What would you like to be added**:

Currently [images/entrypoint.sh](https://github.com/intel/multus-cni/blob/master/images/entrypoint.sh) seems to have enough feature to install multus with various CNI plugins, hence we could make it as default install method.

This change requires followings:

- Change daemonset installer generic (`--multus-conf-file=auto`)
- Remove flannel daemonset (and move

[2019-05-10 07:02] boat320 commented on #278
Hi @s1061123
I can't set pod ip like your example.
but I can set pod IP like this:
apiVersion: apps/v1
kind: NetworkAttachmentDefinition
metadata:
  name: sdj-discovery-center
spec:
  config: '{
      "cniVersion": "0.3.0",
      "type": "macvlan",
      "master": "em1",
      "mode": "bridge",
      "ipam": {
        "type": "host-local",
        "addresses": [{"address": "10.3.32.17/24","gateway

[2019-05-12 08:50] hshtel opened #317 "deploy multus plugin on k8s cluster deployed with juju, the /etc/cni/net.d doesn't exist on the master node?"
I have deployed kubernetes-core bundle with maas/juju which include flannel as the default cni for the cluster.
and the deployed multus deamonset after that as described in the quick start guide.
[code]

I need support for below issues:
* what happened is that the path /etc/cni/net.d existed in the worker nodes and not on the master?

it is mentioned in the guide that we have to deploy multus befo

[2019-05-13 06:42] s1061123 commented on #278
Hi @boat320

Here is what I do today (with latest multus binary). The static plugin uses CIDR notation for now, so current config is slightly different from my previous one.

How to do that:

1. Verify `static` CNI plugin is in your CNI plugin path (usually `/opt/cni/bin`)
1. Add `static` in "ipam" of your net-attach-def
1. Add `"ips": "<address in CIDR notation>"` in pod annotations

Here is the

[2019-05-13 08:27] boat320 commented on #278
it's not work ,this is my setting:
 #############################
  apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: macvlan-conf-1
  namespace: default
spec:
  config: '{
      "cniVersion": "0.3.0",
      "type": "macvlan",
      "master": "em1",
      "mode": "bridge",
      "ipam": {
        "type": "static"
      }
    }'
---
apiVersion: apps/v1
kind: Deplo

[2019-05-13 13:03] s1061123 commented on #278
@boat320
macvlan is also worked with following config. You may need to check following:

- multus binary is up-to-date
- static plugin is up-to-date (I use [CNI plugin v0.8.0](https://github.com/containernetworking/plugins/releases/tag/v0.8.0))

[code]

[code]

[code]

If you still have the issue, could you please provide following information next time?

- Kubernetes version (and how to install K

[2019-05-14 08:02] boat320 commented on #278
thankyou so mutch ! I got it.
 But I have another question:
   How to set the gateway at this mode

 ------------------ 原始邮件 ------------------
  发件人: "Tomofumi Hayashi"<notifications@github.com>;
 发送时间: 2019年5月13日(星期一) 晚上9:03
 收件人: "intel/multus-cni"<multus-cni@noreply.github.com>;
 抄送: "撩进碗里就是菜"<330934554@qq.com>;"Mention"<mention@noreply.github.com>;
 主题: Re: [intel/multus-cni] Assign same ip a

[2019-05-14 09:39] hshtel commented on #144
@soyuutaku @s1061123 hello dears;
have you found solution for this issue or workaround so pods attached to macvlan CRD on different hosts get different IP address.
I mean when creating several pods on different hosts with ipam type to host-local the pods are getting the same IP.

in other words; how we can ensure uniqueness of IP addresses on cluster level not only on host single host?

thanks.

[2019-05-14 11:00] s1061123 commented on #278
you just add gateway config in 'ipam' section in network attachment.

[2019-05-14 12:58] hshtel commented on #317
knowing that I've tried to change the multus config file 70-multus.conf to 00-multus.conf in the daemonset so no need to adjust it each time a new worker is added, but I got an error and the daemoset will not be executed.

[2019-05-14 15:26] dougbtv commented on #144
@hshtel -- would you be willing to give a try at this new IPAM CNI plugin, Whereabotus? https://github.com/dougbtv/whereabouts

It does what host-local does, but, it does it at a cluster-wide level.

[2019-05-15 06:16] soyuutaku commented on #144
@hshtel  I did not manage to use host-local after-all. But I managed to use DHCP, and it works well for me.

To use DHCP, need one DHCP server on the network. and run dhcp on every node.

[2019-05-15 07:34] wardenlym opened #319 "how to configure ifname instead default "net1""
Hi,
i am trying to set a custom interface name,

could i get pod interface (with index number) and rename it in somewhere?

[2019-05-15 08:00] hshtel commented on #185
@s1061123 Hey dear,
I've tried to set CRD with files but failed when creating the pod with this error:
[code]

I've tried to set macvlan-conf file on each worker node with different ranges so the pod can get IP from the range assigned to its node:

I've created below CRD:
[code]
I have two worker and in each one I 've added macvlan-conf in "/etc/cni/multus/net.d" path:
worker-1
[code]
worker-2
[co

[2019-05-15 08:13] SchSeba commented on #319
Hi @wardenlym can you try something like this

[code]

[2019-05-15 09:18] shufanhao opened #321 "Does multus support calico as CRD"
I have this case want to know whether multus support ?

Pod should be assign two ip address belong to different subnet, one is 172.18.0.0/16, another is  192.168.0.0/16。The default network is flannel that assign 172.18.0.0/16, like [quickstart guid](https://github.com/intel/multus-cni/blob/master/doc/quickstart.md)。Another network plugin want to use calico to assign 192.168.0.0/16 network also wan

[2019-05-15 13:48] shufanhao commented on #321
I try this solution, but failed.
Calico NetworkAttachmentDefinition defined is as below:
[code]
pod define is as below:

[code]
But fail to create this pod. I wonder that why "invlaid name calico-conf", have created it.

[code]

[2019-05-20 15:32] msherif4 opened #322 "CoreDNS stuck in pending state"
There seems to be a recent issue with multus I can't get the master in Ready state , CoreDNS seems to be stuck in pending state forever

I have been using the steps in the quick start to get it running
 git clone https://github.com/intel/multus-cni.git
 kubectl apply -f $HOME/multus-cni/images/multus-daemonset.yml

kubectl get pods -n kube-system
NAME                             READY   STATUS